#g_CONTENT {
    position: relative
}

.top_menu {
    position: relative;
    box-sizing: border-box;
    height: 58px;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
    font-family: 'Malgun Gothic', '맑은고딕', 'dotum', '돋움'
}

.top_menu li {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
    text-align: center;
    cursor: pointer
}

.top_menu li:hover .sub_menu {
    display: block
}

.top_menu li i {
    display: inline-block;
    height: 34px;
    padding-bottom: 9px;
    text-indent: -9999px
}

.menu1 i {
    width: 80px;
    background: url(//img1.itemmania.com/images/portal/gamemeca/tab01_news.gif) no-repeat
}

.menu1.on i, .menu1:hover i {
    background: url(//img1.itemmania.com/images/portal/gamemeca/tab01_news_on.gif) no-repeat
}

.menu2 i {
    width: 105px;
    background: url(//img2.itemmania.com/images/portal/gamemeca/tab02_review.gif) no-repeat
}

.menu2.on i, .menu2:hover i {
    background: url(//img2.itemmania.com/images/portal/gamemeca/tab02_review_on.gif) no-repeat
}

.menu3 i {
    width: 85px;
    background: url(//img3.itemmania.com/images/portal/gamemeca/tab03_special.gif) no-repeat
}

.menu3.on i, .menu3:hover i {
    background: url(//img3.itemmania.com/images/portal/gamemeca/tab03_special_on.gif) no-repeat
}

.menu4 i {
    width: 95px;
    background: url(//img4.itemmania.com/images/portal/gamemeca/tab04_schedule.gif) no-repeat
}

.menu4.on i, .menu4:hover i {
    background: url(//img4.itemmania.com/images/portal/gamemeca/tab04_schedule_on.gif) no-repeat
}

.old {
    display: block;
    position: absolute;
    right: 0;
    width: 116px;
    height: 34px;
    background: url(//img4.itemmania.com/images/portal/gamemeca/btn_previous.gif) no-repeat;
    text-indent: -9999px
}

.sub_menu {
    display: none;
    z-index: 100;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #959DA6;
    background: #FFF url(//img1.itemmania.com/images/portal/gamemeca/icon_list.png) no-repeat 50% -6px;
    font-weight: bold
}

.sub_menu:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    background: url(//img2.itemmania.com/images/portal/gamemeca/icon_list.png) no-repeat 50% 0
}

.sub_menu a {
    display: block;
    padding: 2px 0;
    text-align: center;
    color: #050505
}

.sub_menu a:hover {
    color: #1CA8B0
}

.ct_cont {
    overflow: hidden;
    float: left;
    width: 690px;
    font-family: 'Malgun Gothic', '맑은고딕', 'dotum', '돋움'
}

.ct_cont .list {
    position: relative;
    padding: 20px 0 20px 170px;
    border-bottom: 1px solid #F0F0F0
}

.ct_cont .empty {
    padding-left: 0;
    text-align: center;
    font-size: 16px
}

.list a img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 150px;
    height: 85px;
}

.list_in p {
    color: #323232
}

.list_in .title {
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: bold;
    line-height: normal
}

.list_in a:hover .title {
    color: #407FD4
}

.list_in .desc {
    overflow: hidden;
    height: 34px
}

.list_in .date {
    display: block;
    margin-top: 2px;
    color: #888
}

.g_paging li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    background: none;
    text-align: center;
    vertical-align: middle;
    line-height: 24px
}

.g_paging .first, .g_paging .prev, .g_paging .next, .g_paging .continue, .g_paging .last {
    width: auto;
    height: auto;
    line-height: normal
}

.g_paging li strong {
    display: block;
    background-color: #00A6AF;
    color: #FFF;
    text-align: center;
    line-height: 24px
}

.right_ct {
    float: left;
    width: 260px;
    min-height: 390px;
    margin-left: 30px
}

.right_ct .bn {
    margin: 20px 0
}

.right_ct .rg_tlt {
    position: relative;
    padding: 35px 0 10px;
    border-top: 2px solid #141414;
    color: #000;
    font-weight: bold;
    font-size: 15px
}

.right_ct .rg_tlt2 {
    padding-top: 18px;
    margin-top: 38px
}

.rg_tlt .more {
    position: absolute;
    top: 23px;
    right: 0;
    width: 66px;
    height: 27px;
    background: url(//img3.itemmania.com/images/portal/gamemeca/btn_more.gif) no-repeat;
    text-indent: -9999px
}

.rg_tlt2 .more {
    top: 14px
}

.fv_list {
    padding-top: 14px;
    border-top: 1px solid #E5E5E5;
    color: #323232
}

.fv_list li {
    padding-left: 22px;
    margin-bottom: 15px;
    line-height: 12px;
    font-size: 13px
}

.fv_list2 {
    padding-top: 14px;
    color: #323232
}

.fv_list2 li {
    padding-left: 32px;
    border-bottom: 1px solid #E5E5E5;
    line-height: 31px
}

ul .num1 {
    background: url(//img1.itemmania.com/images/portal/gamemeca/icon_num_1.gif) no-repeat 0 50%
}

ul .num2 {
    background: url(//img2.itemmania.com/images/portal/gamemeca/icon_num_2.gif) no-repeat 0 50%
}

ul .num3 {
    background: url(//img3.itemmania.com/images/portal/gamemeca/icon_num_3.gif) no-repeat 0 50%
}

ul .num4 {
    background: url(//img4.itemmania.com/images/portal/gamemeca/icon_num_4.gif) no-repeat 0 50%
}

ul .num5 {
    background: url(//img1.itemmania.com/images/portal/gamemeca/icon_num_5.gif) no-repeat 0 50%
}

ul .num6 {
    background: url(//img2.itemmania.com/images/portal/gamemeca/icon_num_6.gif) no-repeat 0 50%
}

ul .num7 {
    background: url(//img3.itemmania.com/images/portal/gamemeca/icon_num_7.gif) no-repeat 0 50%
}

ul .num8 {
    background: url(//img4.itemmania.com/images/portal/gamemeca/icon_num_8.gif) no-repeat 0 50%
}

ul .num9 {
    background: url(//img1.itemmania.com/images/portal/gamemeca/icon_num_9.gif) no-repeat 0 50%
}

ul .num10 {
    background: url(//img2.itemmania.com/images/portal/gamemeca/icon_num_10.gif) no-repeat 0 50%
}

.detail .title {
    margin: 23px 0 7px;
    font-size: 22px;
    font-weight: bold;
    line-height: normal
}

.g_path {
    float: left
}

.g_path li {
    color: #323232
}

.g_path .select {
    font-weight: normal
}

.detail .date {
    color: #888
}

.temp_bottom {
    height: 104px;
    margin-top: 30px
}

.cont_bottom {
    position: absolute;
    bottom: 0;
    margin-top: 30px
}

.cont_bottom .lft_bn, .cont_bottom .rgt_bn {
    float: left
}

.cont_bottom .rgt_bn {
    margin-left: 10px
}
