.myqna_top{background:url(//img3.itemmania.com/new_images/customer/v2/img_qna.jpg) no-repeat;}
.top_title .top_content{ margin:40px 0 0 210px }
.g_blue_table{ margin-top:20px; }
.g_blue_table .disable{ color:#A6A6A6 }
.g_blue_table th{ border-bottom:1px solid #ACACAC }
.g_blue_table .first_th, .g_blue_table .first_td{ border-left:none }
.g_blue_table .table_title{ padding-left:10px; text-align:left }
.g_blue_table .g_checkbox{ margin-right:0 }
