
.myqna_top{background:url(//img3.itemmania.com/new_images/customer/v2/img_qna.jpg) no-repeat;}
.g_blue_table .g_radio{ margin-left:25px }
.g_blue_table .first_radio{ margin-left:0 }
.del_list_btn{ float:right; margin:7px 0 20px }
.del_list_btn li{ display:inline }
.g_big_box1{ overflow:hidden; padding:10px 21px; border:1px solid #E8E8E8; background-color:#F8F8F8; }
