.g_header .top_bg {
    height: initial !important;
}
.g_header .g_snav {
    font-size: 14px;
}
.g_header .g_snav a {
    cursor: pointer;
}
.g_header .g_snav {
    height: 32px;
    padding: 8px 0;
}
.g_header .g_snav .snav_right > li:before {
    content: "";
}
.g_header .top_bg {
    background: #fdfdfd;
}
.g_logo_area {
    height: 80px !important;
    min-height: 80px !important;
}
.g_logo_area .logo {
    padding-top: 17px;
}
.g_logo_area .logo a {
    display: initial;
}
.g_search_top {
    margin-left: 88px;
    top: 22px;
    padding: 4px 0;
    border: 2px solid #d3d3d3;
    border-radius: 24px;
}
.search_area {
    padding: 0;
    background: transparent;
    height: 37px;
}
.search_area .g_text {
    font-size: 16px;
    color: lightgrey;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    background: transparent;
}
.g_search_list .icon_search {
    background-image: url("../img/icons/icon_search.png");
    background-position: initial;
    background-size: 100%;
    top: 10px;
    left: 5px;
    width: 28px;
    height: 30px;
}
.g_search_top .g_search_list {
    background-color: initial;
    right: 6px;
    text-align: center;
}
.search_gs_name ~ .delete_btn {
    top: 11px;
    right: 4px;
}
.g_search_frame {
    border: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    top: 54px;
}
.g_trade_type {
    padding: 2px 0 12px;
}
.g_trade_type .radiocontainer {
    padding-left: 26px;
    padding-top: 3px;
    font-size: 14px;
}
.g_trade_type .f_green1 {
    margin-left: 40px;
}
.initial_screen .tab>div {
    font-size: 15px;
    border: 1px solid #32b5ff;
    border-right: 0;
    border-top: 0;
}
.initial_screen .tab>.active {
    border-top: 1px solid #32b5ff;
}
.initial_screen .popular_game>.popular_game_title {
    background-color: transparent;
    color: black;
}
.initial_screen .popular_game>.popular_game_title span {
    border-bottom: solid 2px #37cfff;
}
.initial_screen .popular_game>.popular_list {
    font-size: 14px;
}
.g_header .nav_wrap {
    background-color: #159efd;
    height: 50px;
}
.g_header .nav_wrap .nav_ct {
    display: block;
    margin-left: 0;
}
.g_header .nav_wrap .nav_highlight {
    left: 720px;
}
.nav_wrap .nav li {
    padding: 0 58px;
}
.nav_wrap .nav li a {
    height: 50px;
    line-height: 48px;
}
.nav_wrap .nav .highlight {
    padding: 0 58px;
}
.nav_wrap .nav_ct li a:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "|";
    font-size: 13px;
    color: #6ac2ff;
}
.nav_wrap .nav_ct li:last-child a:after {
    content: "";
}

.SpGroup {
    background-image: url("../img/icons/sp_renew.png");
}
.initial_screen .tab>div {
    height: 48px;
    line-height: 48px;
}
.ads-title {
    color: #f9c36d;
    font-weight: bold;
    font-size: 35px;
}
.top-ads-content {
    padding-top: 40px;
}
.ads-content {
    line-height: 18px;
    padding-left: 12px;
}
.top-ads-part {
    background-image: url("../img/bkg/ads-header.png");
    background-size: cover;
    height: 100px;
    width: 100%;
}
.g_content {
    min-height: 560px;
}
.content_center {
    /*width: 1140px;*/
}

