/* top section*/
#character_top_section{width:100%;}
#character_top_section #character_top_section_content{width:100%; margin-top:20px;}
#character_top_section #character_top_section_content .character_menu_wrapper{width:655px; border:1px solid #e0e0e0; float:left;}
#character_top_section #character_top_section_content .character_menu_wrapper .character_menu_list{padding:15px 17px 4px; }
#character_top_section #character_top_section_content .character_menu_wrapper .character_menu{width:148px; line-height:40px; font-size:12px; font-weight: bold; color:#636363; text-align:center;float:left; margin:0px 9px 10px 0; background-color: #f0f0f0; cursor:pointer;}
#character_top_section #character_top_section_content .character_menu_wrapper .character_menu:hover{color:#fff; background-color: #159efd;}
#character_top_section #character_top_section_content .character_menu_wrapper .character_menu:nth-child(4n+4){margin-right:0;}
#character_top_section #character_top_section_content .character_banner_carousel{width:405px; height:270px; float:right;overflow: hidden;}

/* content section */
.games_goods_wrapper{width:100%; margin-top:30px;}
.games_goods_carousel{margin-top:20px; width:100%;overflow: hidden;}
.games_goods_carousel .carousel_module{height:180px; padding-bottom:20px;}
.goods_wrapper{float:left; width:250px;height:160px; margin-right:20px; border:2px solid #e0e0e0; cursor:pointer;}
.goods_wrapper:nth-child(4n+4){margin-right:0;}
.goods_wrapper:hover{border:2px solid #159efd;}
.goods_wrapper dl{ margin:20px; height:100%; position:relative;}
.goods_wrapper dl dt{margin-bottom:10px; font-size:24px; font-weight: bold; color:#159efd;}
.goods_wrapper dl dt span{font-size:16px; color: #767676; margin-left:5px;}
.goods_wrapper dl dd{font-size:14px; color:#636363; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;}
.goods_wrapper dl dd:last-child{position: absolute; bottom:20px; width:100%; height:25px; padding-top:5px; font-size:13px; color:#ff7f47; border-top:1px solid #efefef;}


.games_goods_carousel .carousel_module .banner_indicate{bottom:0;}

/* Carousel*/
.carousel_module{max-width:100%; margin:0 auto; position:relative; height:100%;}
.center_banner > .banner_item > a{ display:block; position:absolute; left:0; width:100%; height:100%;}
.carousel_module > .banner_in{width:100%;}
.carousel_module > .banner_in > .banner_item{position:absolute; width:100%; height:auto; top:0; display: none;}
.carousel_module > .banner_in > .banner_item.banner_on{display: block;}
.carousel_module > .banner_in > .banner_item > .carousel_images{ position:absolute; height:auto; left:50%; transform: translate(-50%);}
.carousel_module > .banner_indicate{ position:absolute; bottom:10px; left:50%; transform: translate(-50%);}
.carousel_module > .banner_indicate > span{ display:inline-block; width:10px; height:10px; margin-left:3px; border:1px solid #000; border-radius:8px; background-color:#FFF; font-size:0; cursor:pointer; }
.carousel_module > .banner_indicate > .on{ background-color:#057CCF; }
.carousel_module .arw{z-index:2;position:absolute; top:50%; margin-top:-20px; width:40px;height:40px;background-repeat:no-repeat !important;text-indent:-9999px;}
.carousel_module .prev{ left:20px;background:url(//img2.itemmania.com/new_images/icon/icon_left.png) }
.carousel_module .next{ right:20px;background:url(//img2.itemmania.com/new_images/icon/icon_right.png) }


/* exception */
#character_top_section #character_top_section_content .character_banner_carousel .banner_indicate > span{background-color:#c7c7c7; border:1px solid #c7c7c7;}
#character_top_section #character_top_section_content .character_banner_carousel .banner_item > a{height:270px;}
#character_top_section #character_top_section_content .character_banner_carousel .banner_indicate > .on{background-color:#159efd; border:1px solid #159efd;}

.games_goods_carousel .carousel_module .banner_indicate > span{background-color:#c7c7c7; border:1px solid #c7c7c7;}
.games_goods_carousel .carousel_module .banner_indicate > .on{background-color:#159efd; border:1px solid #159efd;}

/* common*/
.section_title_wrapper{width:100%; text-align: left;border-bottom:2px solid #c6c6c6;}
.section_title_wrapper .section_title{font-size:18px; font-weight:bold;padding-bottom:3px;}
.section_title_wrapper .section_title .goods_more_btn{display:inline-block;margin-left:15px; font-size:13px; font-weight: bold; color:#9f9f9f; cursor:pointer;vertical-align: middle;}
.section_title_wrapper .section_title .goods_more_btn img{margin-left:5px; vertical-align: top; margin-top:3px;}
.clear_fix::after{content:""; display: block; clear:both;}
