/*
 * @title		íŒë‹ˆë‹¤ ë¦¬ìŠ¤íŠ¸
 * @author		[F/E]ê¹€ë³´ëžŒ
 * @date		2018.11.13
 * @update		ìˆ˜ì •ë‚ ì§œ(ìˆ˜ì •ìž)
 * @description
 */

.bn_list_top {
    margin-bottom: 10px;
}

.list_sprite {
    display: inline-block;
    background: url(//img2.itemmania.com/new_images/sell/sp_list.png?190227) no-repeat;
    vertical-align: middle;
}

.g_title_green .trade_sub_title {
    float: left;
    font-size: 20px;
    letter-spacing: -2px;
}

.g_title_green .trade_sub_title li ,.g_title_noborder .trade_sub_title li{
    float: left;
    margin-right: 15px;
}

.g_title_green .trade_sub_title .game_name ,.g_title_noborder .trade_sub_title .game_name  {
    font-size: 17px;
    letter-spacing: -1px;
    color: #1D1D1D;
}

.g_title_green .trade_sub_title .game_name span {
    vertical-align: middle;
}

.g_title_green .trade_sub_title .quotation {
    display: none;
    padding-top: 10px;
    font-size: 12px;
}

.g_title_green .trade_sub_title .quotation>span {
    color: #767676;
}

.g_title_green .trade_sub_title .quotation>a {
    margin-left: 10px;
    color: #9F9F9F;
}

.g_title_green .trade_sub_title .quotation .f_normal {
    font-weight: normal;
}

.btn_reg {
    display: inline-block;
    box-sizing: border-box;
    width: 98px;
    height: 30px;
    border-radius: 15px;
    background-color: #39A742;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    line-height: 28px;
    color: white !important;
}

.trade_sub_title .favorite {
    display: inline-block;
    width: 23px;
    height: 22px;
    margin: 0 10px 0 4px;
    cursor: pointer;
}

.trade_sub_title .favorite.onfav {
    background-image: url(//img2.itemmania.com/new_images/sell/icon_star.png);
}

.trade_sub_title .favorite.offfav {
    background-image: url(//img2.itemmania.com/new_images/sell/icon_star_off.png);
}

.g_tab {
    table-layout: auto;
    margin-bottom: 0;
}

.g_tab_gray>* {
    background-color: #E3F0F3;
}

/*.g_tab>* {*/
/*    width: 17%;*/
/*    height: 40px;*/
/*    border-bottom: 1px solid #E1E1E1;*/
/*}*/

.g_tab .selected {
    border: 1px solid #E1E1E1;
    border-top: 2px solid #15E1FD;
    border-bottom: 0;
    color: #8CCE75;
    border-right: 2px solid #15E1FD;
    border-left: 2px solid #15E1FD;
}

.g_tab .side {
    width: 305px;
}


/* ê²€ìƒ‰ì˜ì—­ */

.search_word {
    font-size: 0;
    text-align: right;
}

.search_word li {
    display: inline-block;
    vertical-align: middle;
}

.search_word .btn_search {
    display: inline-block;
    width: 34px;
    height: 29px;
    background-position: -44px -135px;
    text-indent: -9999px;
    cursor: pointer;
}

.search_word input {
    float: left;
    width: 234px;
    height: 29px;
}

.detail_search {
    overflow: hidden;
    width: 100%;
}

.search_box {
    position: relative;
    overflow: hidden;
}

.search_box .search_reset {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 69px;
    height: 29px;
    background-image: url(//img2.itemmania.com/new_images/sell/btn_reset.gif);
    text-indent: -9999px;
    cursor: pointer;
}

.search_box .search_row {
    overflow: hidden;
    padding: 13px 0;
    border: 1px solid #E1E1E1;
    border-top: 0;
}

.search_box .search_row .search_tit {
    float: left;
    width: 65px;
    margin-left: 40px;
    padding-right: 10px;
    font-weight: bold;
}

.search_box .search_row ul {
    float: left;
    width: 390px;
}

.search_box .search_row ul:last-child {
    width: 450px;
}

.search_box .search_row li {
    float: left;
    margin-right: 12px;
}

.search_box .spec {
    background-color: #F9F9F9;
}

.search_box .spec .list_search_spec_row {
    width: 100%;
}

.list_search_spec_row {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 34px;
    padding-left: 40px;
    line-height: 34px;
}

.list_search_spec_row>span {
    display: inline-block;
}

.list_search_spec_row>.subcat {
    display: inline-block;
    height: 13px;
    padding: 0 10px 0 9px;
    border-right: 1px solid lightgray;
    text-align: center;
    line-height: 11px;
}

.list_search_spec_row>.subcat:last-child {
    border-right: 0;
}

.list_search_spec_row .active {
    font-weight: bold;
    color: #13A33F;
}

.list_search_spec_row>select {
    width: 190px;
    height: 22px;
    line-height: 22px;
    color: #13A33F;
}

.ssub_nocolon {
    width: 70px;
}


/* ë¦¬ìŠ¤íŠ¸ì˜ì—­ */

.g_subtitle {
    font-size: 20px;
}

.loading {
    width: 40px;
    height: 40px;
    margin: 15px auto;
    background: url(//img1.itemmania.com/new_images/common/loading_blue.gif) no-repeat;
}

.opt_list {
    display: inline-block;
    margin-left: 7px;
    font-size: 11px;
    font-weight: 400;
    vertical-align: middle;
    color: #9F9F9F;
}

.opt_list>li {
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.opt_list>.active {
    color: #1D1D1D
}

.opt_list>li:before {
    display: inline-block;
    width: 10px;
    height: 9px;
    margin: -2px 3px 0 0;
    content: "";
    vertical-align: middle;
}

.opt_list>.active:before {
    background: url(//img2.itemmania.com/new_images/sell/sp_list.png?190227) no-repeat -194px -104px;
}

.opt_list>li>.orderbox {
    display: inline-block;
    width: 10px;
    height: 9px;
    margin-right: 3px;
}

.opt_list>.active>.orderbox {
    background: url(//img2.itemmania.com/new_images/sell/sp_list.png?190227) no-repeat -194px -104px;
}

.search_list_all>.search_list>li>.col_01 {
    width: 120px;
}

.search_list_all>.search_list>li>.col_05 {
    width: 80px;
}

.search_list {
    display: table;
    table-layout: fixed;
    clear: both;
    width: 100%;
}

.search_list>li {
    display: table-row;
}

.search_list>li>div {
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    height: 60px;
    border-bottom: 1px solid #E3E3E3;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.search_list>.empty>div {
    width: 1080px
}

.search_list>li>.mulline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search_list>li>.col_01 {
    width: 80px;
}

.search_list>li>.col_02 {
    width: 500px;
}

.search_list>li>.col_03 {
    width: 140px;
    color: #767676;
}

.search_list>li>.col_04 {
    width: 240px;
}

.search_list>li>.col_05 {
    width: 120px;
    color: #767676;
}

.list_head>li>div {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
    background-color: #E3E3E3;
    text-align: center;
    line-height: 38px;
    color: #1D1D1D !important;
}

.list_head>li>.col_02 {
    text-align: center;
}

.search_list>li:hover {
    background-color: #ECF8EC;
}

.search_list>li:hover>.col_02:not(.active)>a {
    cursor: auto;
}

.search_list>li>.col_02>.view_detail_quick {
    position: absolute;
    top: 17px;
    right: 10px;
    width: 73px;
    height: 27px;
    background-image: url(//img2.itemmania.com/new_images/sell/btn_quick.gif);
    background-repeat: no-repeat;
    cursor: pointer;
}

.search_list>li>.col_02 .mulline>.title {
    display: inline-block;
    overflow: hidden;
    max-width: 440px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search_list>li>.col_02 .mulline>.title.title_bold {
    font-weight: bold
}

.search_list>li>.col_02 .mulline>.title.title_green {
    color: #13A33F;
}

.search_list>li>.col_03>.mulline {
    text-align: right;
}

.search_list>li>.col_03>.mulline>span {
    font-weight: bold;
    color: #13A33F;
}

.search_list>li>.col_04>i {
    height: 41px;
    margin-left: 10px;
    background-position-y: -53px;
    text-indent: -9999px;
}

.search_list>li>.col_04>i:first-child {
    margin-left: 0;
}

.search_list>li>.col_04>i.active_icon {
    background-position-y: -2px;
}

.search_list_premium>li {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #F4FAF3;
    box-shadow: 0 0 0 1px #96DB90 inset;
}

.search_list_premium>li:first-child {
    margin-top: 0;
}

.search_list_premium>li:not(.empty):hover {
    box-shadow: 0 0 0 2px #13A33F inset;
}

.search_list_premium>.empty {
    background: #ECF8EC;
}

.search_list_premium>li>div {
    border-bottom: 0;
    box-shadow: none;
}

.search_list_premium>li>.col_01:before {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 34px;
    content: "";
    background: url(//img2.itemmania.com/new_images/buy/img_pre_tab_grn.png?190311) no-repeat;
}

.search_list_premium>li>.col_02 {
    color: #585858;
}

.search_list_premium>li>.col_02 .unit {
    color: #13A33F;
}

.link_block {
    color: #BDBDBD !important;
}

.link_block * {
    color: #BDBDBD !important;
}

i.icon_good {
    width: 38px;
    margin-left: 0;
    background-position-x: -2px;
}

i.icon_direct {
    width: 38px;
    background-position-x: -187px;
}

.load_more {
    height: 46px;
    margin-top: 20px;
    border: 1px solid #E0E0E0;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    line-height: 46px;
}

.goTopDiv {
    float: right;
    margin: 15px 0;
}

.icon_power {
    display: inline-block;
    width: 73px;
    height: 26px;
    border-radius: 3px;
    background-color: #8A63E2;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    line-height: 26px;
    color: white;
}

.list_info {
    position: relative;
    padding-top: 7px;
    font-size: 12px;
    font-weight: normal;
}

.list_info>div {
    float: left;
}

.list_info>.info_layer {
    z-index: 1;
    position: absolute;
    top: 28px;
    right: 33px;
    display: none;
    box-sizing: border-box;
    width: 330px;
    height: 131px;
    padding: 12px 15px 0;
    border: 1px solid #707070;
    background-color: #FFF;
    color: #636363;
}

.list_info>.info_layer.active {
    display: block;
}

i.icon_info {
    float: none;
    width: 14px;
    height: 14px;
    margin: 0px 10px 0 5px;
    background-position: -214px -104px;
    cursor: pointer;
}

i.icon_refresh {
    float: none;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    background-position: -238px -104px;
    cursor: pointer;
}

.list_info>.info_layer>.il_title {
    margin-bottom: 15px;
    font-weight: bold;
}

.list_info>.info_layer>.il_close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 14px;
    height: 13px;
    background-position: -170px -104px;
    cursor: pointer;
}

.list_info>.info_layer>.il_row {
    height: 32px;
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 32px;
}

.list_info>.info_layer>.il_row_s {
    line-height: normal;
}

.list_info>.info_layer>.il_row>.il_btn {
    float: left;
    box-sizing: border-box;
    width: 80px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    background-color: #F7F7F7;
    text-align: center;
    text-align: center;
    line-height: 30px;
}

.list_info>.info_layer>.il_row>.il_btn>i {
    height: 21px;
    margin: -3px 5px 0 0;
}

.list_info>.info_layer>.il_row>.il_btn>.il_btn_good {
    width: 15px;
    background-position: -2px -104px;
}

.list_info>.info_layer>.il_row>.il_btn>.il_btn_drt {
    width: 18px;
    background-position: -85px -104px;
}

.toggleer {
    position: absolute;
    left: 530px;
    width: 42px;
    height: 21px;
    background-image: url(//img2.itemmania.com/new_images/sell/btn_list_up.gif);
    cursor: pointer;
}

.toggleer.down {
    background-image: url(//img2.itemmania.com/new_images/sell/btn_list_down.gif);
}

.premium_info {
    position: absolute;
    top: 11px;
    right: 0px;
    bottom: 5px;
    box-sizing: border-box;
    width: 131px;
    height: 29px;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    line-height: 27px;
}

.premium_info::after {
    margin-left: 5px;
    content: "ã€‰ã€‰ã€‰";
    font-weight: bold;
    letter-spacing: -5.5px;
    /* ê°™ì€ë¬¸ìžë¥¼ ê²¹ì¹˜ê²Œ ë‘ì–´ boldíš¨ê³¼ */
    color: #159EFD;
}

.hasScreenshot {
    display: inline-block;
    width: 18px;
    height: 13px;
    margin-left: 2px;
    background-image: url(//img2.itemmania.com/new_images/sell/sp_list.png?190227);
    background-repeat: no-repeat;
    background-position: -142px -104px;
    vertical-align: middle;
    cursor: pointer;
}


/*.item_regInfo{display:none;box-sizing:border-box;width:450px;height:400px;position:fixed;top:50%;left:50%;margin-top:-225px;margin-left:-200px;background-color:white;z-index:1;border:2px solid #159EFD;}*/

.item_regInfo.layer_active {
    display: block;
}

.regInfo_subcontent {
    overflow: hidden;
    overflow: hidden;
    width: 100%;
    margin-top: 5px;
}

.regInfo_subcontent>li>div {
    float: left;
    height: 33px;
    line-height: 33px;
}

.regInfo_subcontent>li {
    overflow: hidden;
    border-bottom: 1px solid #D5E2F2;
}

.regInfo_subcontent>li:first-child {
    border-top: 1px solid #D5E2F2;
}

.regInfo_subcontent_label {
    width: 110px;
    background-color: #ECF8EC;
    text-align: center;
}

.regInfo_subcontent_in {
    box-sizing: border-box;
    width: 232px;
    padding: 0 15px;
}

.regInfo_subcontent_in>.credit_mark {
    margin-top: 3px;
}

.regInfo_subcontent_in>.seller_rank {
    font-weight: bold;
}

.regInfo_subcontent_in>.cert_state {
    width: 62px;
    height: 19px;
    margin-right: 0;
    line-height: 17px;
}

.item_regInfo .regInfo_btn {
    width: 97px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
    line-height: 33px;
    color: #FFF;
}

.sise_indicator {
    margin-top: 12px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -1px;
    color: black;
}

.sise_indicator>span {
    margin: 0 2px;
}

.sise_indicator>.sise_up {
    color: #159EFD;
}

.sise_indicator>.sise_up:before {
    content: "â–²";
}

.sise_indicator>.sise_down {
    color: #FF2400;
}

.sise_indicator>.sise_down:before {
    content: "â–¼";
}


/* ë¦¬ë‹ˆì§€M ì•„ì´í…œ ìƒì„¸ ê²€ìƒ‰ */

.item_detail_search2 {
    border-top: 1px solid #C0C0C0;
    background-color: #F4F4F4;
}

.item_detail_search2 li {
    padding: 10px;
    border-bottom: 1px solid #C0C0C0;
}

.item_detail_search2 li a {
    display: inline-block;
    overflow: hidden;
    margin-left: 10px;
    padding: 5px 0;
    border: 1px solid #C0C0C0;
    background-color: #FFF;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 12px;
}

.item_detail_search2 li a:first-child {
    margin-left: 0
}

.item_detail_search2 li .on {
    border-color: #216ED7;
    background-color: #2687ED;
    color: #FFF
}

.item_detail_search2 .category a {
    width: 113px;
    font-weight: bold
}

.item_detail_search2 .kind a {
    width: 63px
}

.item_detail_search2 label {
    display: inline-block;
    width: 90px;
    font-weight: bold;
    vertical-align: middle
}

.item_detail_search2 .select_wrap {
    display: inline-block;
    vertical-align: middle
}

.item_detail_search2 .select_wrap .g_selectbox {
    padding: 5px
}

.item_detail_search2 .select_wrap .g_selectbox .value {
    width: 150px
}

.item_detail_search2 .select_wrap .g_red1 {
    color: #ED1C24
}

.search_info {
    margin-top: 10px;
    text-align: center
}

.search_info .detail_srh_btn {
    display: inline-block;
    width: 130px;
    height: 34px;
    background: url(//img2.itemmania.com/images/btn/btn_search_list.gif) no-repeat;
    text-indent: -9999px;
    cursor: pointer
}

.list_highlight {
    background-color: #FF9;
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.black {
    color: #1D1D1D;
}

.alarm_float {
    position: fixed;
    top: 50%;
    transform: translate(-50%);
    margin-left: 1150px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 2px solid #39A742;
    color: #39A742;
    font-weight: bold;
    border-radius: 50%;
    background-color: #ECF8EC;
}

.alarm_float p {
    text-align: center;
    font-size: 12px;
}

.alarm_float p img {
    animation: swing ease-in-out 1.5s infinite;
    transform-origin: 50% 0;
}

.alarm_float p:first-child {
    margin-top: 10px;
    margin-bottom: 4px;
}

@keyframes swing {
    0% {
        transform: rotate(10deg)
    }
    10% {
        transform: rotate(-10deg)
    }
    20% {
        transform: rotate(10deg)
    }
    30% {
        transform: rotate(-10deg)
    }
    30% {
        transform: rotate(-5deg)
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(0deg)
    }
}
