.s_subtitle {
    position: relative;
    margin-top: 30px;
    font-size: 16px;
    letter-spacing: -2px;
    height: 30px;
    color: #000;
}


.report_top .float-left {
    margin: 42px 0 0 50px;
    _margin-left: 25px;
    line-height: 1.6;
    font-size: 14px;
}

.report_top .float-left li {
    padding-left: 10px
}

.report_top .float-left .bg_icon {}

.category_tb {
    border-top: 2px solid #636363;
}

.category_tb td {
    height: auto;
    padding: 7px 0 7px 10px
}

.category_tb ul li {
    width: 115px;
    line-height: 180%
}

.category_tb .category_etc {
    width: 500px
}

.category_tb .category_etc li {
    width: 155px
}

.table_angel_secondary tr th {
    background-color: #f5f7f8;
    border-bottom: 1px solid #E0E0E0;
}
