.s_subtitle {
    position: relative;
    margin-top: 30px;
    font-size: 16px;
    letter-spacing: -2px;
    height: 30px;
    color: #000;
}


.report_top .float-left {
    margin: 42px 0 0 50px;
    _margin-left: 25px;
    line-height: 1.6;
    font-size: 14px;
}

.report_top .float-left li {
    padding-left: 10px
}

.report_top .float-left .bg_icon {}

.category_tb,.category_tb th,.category_tb td {
    background: transparent;
    border: none !important;
    text-align: left;
    vertical-align: top;
    padding-top: 0px !important;
}

.category_tb th{
    width: 100px;
}

.category_tb td {
    height: auto;
    padding: 7px 0 7px 10px
}

.category_tb ul li {
    width: 90px;
}

.category_tb .category_etc {
    width: 500px
}

.category_tb .category_etc li {
    width: 155px
}

.table_angel_secondary tr th {
    background-color: #f5f7f8;
    border-bottom: 1px solid #E0E0E0;
}


.report_btns{
    display: flex;
    justify-content: space-between;
}

.report_btns>div{
    width: 100%;
}

.report_btns .report_btn{
    display: block;
    width: calc(100% - 10px);
    height: 30px;
    background: linear-gradient(#ededed,#dfdfdf);
    line-height: 30px;
    text-align: center;
}

.report_btns .report_btn.selected{
    background: #229fa3;
    color: #fff;
}

.f_search{
    width: 140px;
    background: #229fa3;
    height: 26px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    float: right;
    margin-top: 3px;
}
