.g_subtitle {
    position: relative;
    box-sizing: border-box;
    min-height: 30px;
    margin-top: 15px;
    padding: 11px 0 8px;
    font-size: 15px;
    font-weight: 700;
    color: #2f2f2f;
    border-bottom: 2px solid #555555;
}

.top_title {
    overflow: hidden;
    padding: 50px 45px;
}

.lft_area {
    float: left
}

.lft_area .sub_btn {
    margin-top: 14px
}

.lft_area .sub_btn a {
    float: left;
    margin-left: 6px
}

.lft_area .sub_btn a:first-child {
    margin-left: 0
}

.rgt_area {
    float: left;
    margin-left: 32px
}

.rgt_area a {
    display: block
}

.rgt_area a:first-child {
    margin-bottom: 10px
}

.g_content .search .search_bar .g_selectbox {
    float: left;
    width: 100px;
    margin-top: 1px;
    border: 0;
}

.g_content .search .search_bar .g_selectbox .arrow_img {
    height: 15px;
    background: url(//img3.itemmania.com/images/icon/icon_down4.gif) no-repeat
}

.cus_content {
    position: relative;
    border-top: 0;
}

.cus_content .best_img {
    position: absolute;
    top: 0;
    left: -1px;
    margin-bottom: -68px;
}

.cus_content .sub_title {
    border-bottom: 1px solid #E8E8E8;
    padding: 16px 0 16px 35px;
    cursor: pointer;
    color: #767676;
}

.cus_content .gray_box {
    overflow: hidden;
    display: none;
    padding: 15px 0;
    background-color: #F8F8F8;
    border-bottom: 1px solid #E8E8E8
}

.cus_content .gray_box img {
    margin: 0 9px 0 95px
}

.cus_content .gray_box div.g_left {
    width: 608px
}

.cus_content .gray_box div.g_left p {
    margin: 0
}

.subject .g_left {
    padding-right: 10px;
}

.cus_content .subject {
    float: left;
    width: 135px;
    color: #216ED7;
    font-weight: bold;
}

.submain_customer_info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.submain_customer_info li {
    flex: 1;
    text-align: center;
}

.submain_customer_info li>a {
    display: block;
}

.submain_customer_info .SpGroup {
    display: inline-block;
    width: 65px;
    height: 59px;
}

.submain_customer_info .ico01 {
    background-position: -597px -596px;
}

.submain_customer_info .ico02 {
    background-position: -661px -596px;
}

.submain_customer_info .ico03 {
    background-position: -731px -596px;
}

.submain_customer_info .ico04 {
    background-position: -798px -596px;
}

.submain_customer_info .ico05 {
    background-position: -865px -596px;
}

.submain_customer_info li .name {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.submain_customer_info li .icon {
    margin: auto;
    width: 136px;
    height: 136px;
    background-color: #f0f0f0;
    border-radius: 50%;
    text-align: center;
    line-height: 180px;
}

.list_info_1.type_4 li {
    padding: 0;
}

.list_info_1.type_4 li a .data {
    float: right;
    font-size: 13px;
    color: #666;
}

.list_info_1.type_4 li a {
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

.list_info_1.type_4>li {
    min-height: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
}

.list_info_1.type_4>li img {
    margin-left: 5px;
}

.list_info_1 {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: -1px;
}

.list_info_1>li {
    position: relative;
    min-height: 40px;
    padding: 14px 0 14px 264px;
    border-top: 1px solid #f0f0f0;
    font-size: 15px;
    color: #666;
}

.banner {
    margin-bottom: 30px;
    margin-top: 30px;
}

.banner .call {
    float: right;
    cursor: pointer;
}

.s_subtitle {
    position: relative;
    font-size: 16px;
    letter-spacing: -2px;
    height: 30px;
    color: #000;
    border-bottom: 2px solid #636363;
}

.g_right {
    padding: 11px 20px 0;
}

.s_text {
    width: 550px;
    border: 0;
    background-color: #FFF;
}
