
.top_title .top_content {
    margin: 40px 0 0 210px
}

.table-primary {
    margin-top: 20px;
}

.table-primary .disable {
    color: #A6A6A6
}

.table-primary th {
    border-bottom: 1px solid #ACACAC
}

.table-primary .first_th,
.table-primary .first_td {
    border-left: none
}

.table-primary .table_title {
    padding-left: 10px;
    text-align: left
}

.table-primary .angel_game_sel {
    margin-right: 0
}
