

.regist_btn01 {
    width: 86px;
    height: 20px;
    text-align: center;
    padding-top: 1px;
    font-size: 11px;
    box-sizing: border-box;
}

.regist_btn02 {
    width: 54px;
    height: 30px;
    text-align: center;
    padding-top: 1px;
    font-size: 11px;
    box-sizing: border-box;
}

.regist_btn03 {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #6D6D6D;
    background-color: #848484;
    vertical-align: middle;
    color: #FFF
}

.regist_btn04 {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #8F22B8;
    background-color: #9C59A6;
    vertical-align: middle;
    color: #FFF
}

.regist_btn05 {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #628509;
    background-color: #79A508;
    vertical-align: middle;
    color: #FFF
}

.regist_btn06 {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #4D5F91;
    background-color: #7A8CBE;
    vertical-align: middle;
    color: #FFF
}

.regist_btn07 {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #5E96B1;
    background-color: #5FBDBC;
    vertical-align: middle;
    color: #FFF
}

.regist_btn08 {
    text-align: center;
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #B72F00;
    background-color: #E64C00;
    vertical-align: middle;
    color: #FFF
}

.regist_btn09 {
    width: 45px;
    display: inline-block;
    padding: 3px 0 5px;
    text-align: center;
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #495162;
    background-color: #586175;
    vertical-align: middle;
    color: #FFF;
    font-weight: bold;
}

.regist_btn10 {
    width: 45px;
    display: inline-block;
    padding: 3px 0 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #C5C5C5;
    background-color: #F0F0F0;
    vertical-align: middle;
    font-weight: bold;
}

.regist_btn11 {
    float: right;
    display: inline-block;
    padding: 3px 5px 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #9b9b9b;
    background-color: #FFF;
    font-weight: bold;
}

.btn_padding01 {
    padding: 3px 15px 4px 15px;
}

.btn_padding02 {
    padding: 3px 21px 4px 20px;
}

.btn_padding03 {
    padding: 3px 10px 4px 9px;
}

.btn_padding04 {
    padding: 0px 9px;
}



.body_rt34DF {
    position: relative;
    width: 820px;
    height: 104px;
    box-sizing: border-box;
    border: 1px solid #89C1CE;
}



.body_rt34DF:last-child {
    background-position: -2px -209px;
}

.body_rt34DF>.icon_wrap {
    position: absolute;
    top: 14px;
    left: 15px;
}

.body_rt34DF>.icon_wrap>span {
    display: inline-block;
    width: 77px;
    height: 77px;
    text-indent: -9999px;
}

.body_rt34DF>.icon_wrap>.sell_icon {
    background: url(/angel/img/icons/sells.png)
}

.body_rt34DF>.icon_wrap>.buy_icon {
    background: url(/angel/img/icons/buys.png);
    background-size: 100% 100% !important;
}

.body_rt34DF>.arr_icon {
    display: inline-block;
    position: absolute;
    top: 37px;
    width: 29px;
    height: 29px;
    background: url(/angel/img/icons/right.png);
}

.body_rt34DF.buy__h34Efd>.arr_icon{
    background: url(/angel/img/icons/right-blue.png);
}

.body_rt34DF>.arr1 {
    left: 423px;
}

.body_rt34DF>.arr2 {
    left: 606px;
}

.body_rt34DF>.step_title {
    position: absolute;
    top: 15px;
    font-size: 14px;
    color: #fff;
}

.body_rt34DF>.deposit_product_title {
    left: 293px;
}

.body_rt34DF>.product_title {
    left: 475px;
}

.body_rt34DF>.complete_title {
    left: 670px;
}

.body_rt34DF>.regist_product {
    position: absolute;
    left: 110px;
    width: 112px;
    top: 30px;
    font-size: 14px;
    font-weight: bold;
}

.body_rt34DF>.bargain_request_product {
    position: absolute;
    left: 110px;
    width: 112px;
    top: 53px;
    font-size: 14px;
    font-weight: bold;
}

.body_rt34DF>.regist_product>.regist_title,
.body_rt34DF>.bargain_request_product>.bargain_request_title {
    float: left;
}

.body_rt34DF>.regist_product>.regist_result,
.body_rt34DF>.bargain_request_product>.bargain_request_result {
    float: right;
    font-weight: bold;
}

.body_rt34DF>.box_line {
    position: absolute;
    top: -1px;
    left: 264px;
    width: calc(100% - 265px);
    height: 100%;
    border: 1px solid #89C1CE;
    background: #0081B9;
}

.body_rt34DF.buy__h34Efd>.box_line{
    background: #0F9E84;
}

.body_rt34DF>.deposit_product {
    position: absolute;
    left: 293px;
    top: 51px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
}

.body_rt34DF>.deposit_product span {
    font-size: 12px;
}

.body_rt34DF>.sell_product {
    position: absolute;
    left: 475px;
    top: 51px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
}

.body_rt34DF>.sell_product span {
    font-size: 12px;
}

.body_rt34DF>.detail_btn {
    display: block;
    position: absolute;
    left: 660px;
    top: 56px;
    width: 81px;
    text-align: center;
    height: 22px;
    font-size: 12px;
    cursor: pointer;
    line-height: 22px;
    background-color: #87c4de;
    color: #000;
    font-weight: bold;
}

.body_rt34DF>.detail_btn>.arr_right {
    display: inline-block;
    width: 5px;
    height: 9px;
}

.notice_box {
    margin-top: 20px;
    padding: 17px 51px;
    border: 1px solid #DDD;
    background-color: #F6F7F9;
    font-size: 12px;
}

.notice_box dt {
    margin-bottom: 10px;
    padding-left: 20px;
    background: url(/angel/img/icons/add.png) no-repeat 0 3px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    font-size: 15px;
}

.notice_box li,
.notice_box dd {
    margin-bottom: 4px;
}




.sell_alarm_keyword {
    color: #159efd;
}

.buy_alarm_keyword {
    color: #13A33F;
}
