.mr_top {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    background-color: #F9F9FA;
    border: 1px solid #EFF0F2;
    /* overflow:hidden; */
}

.mr_top>div {
    float: left;
}


.mr_top>.mr_user_level_txt {
    position: relative;
    width: 400px;
    font-size: 16px;
    font-weight: bold
}

.mr_top>.mr_user_level_txt>.user_level_txt {
    height: 25px;
    margin: 36px 0 5px 0;
    line-height: 25px;
    font-size: 25px;
    font-family: Tahoma;
    font-weight: bold
}

.mr_top>.mr_user_level_txt>.mr_user_benefit_btn_wrapper {
    margin-top: 15px;
}

.mr_top>.mr_user_level_txt>.mr_user_benefit_btn_wrapper>.mr_user_benefit_btn {
    display: inline-block;
    width: 75px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border: 1px solid #CBCBCB;
    background-color: #FFF;
    font-size: 12px;
    cursor: pointer;
}


.mr_top>.mr_user_level_txt>.mr_user_benefit_btn_wrapper>#credit_condition {
    display: none;
    position: absolute;
    padding: 18px 14px;
    margin-top: 5px;
    left: 20%;
    width: max-content;
    min-width: 350px;
    z-index: 1;
    border: 2px solid #606E89;
    text-align: center;
    font-size: 15px;
    background-color: white;
}

.mr_top>.mr_user_level_txt>.mr_user_benefit_btn_wrapper>#credit_condition>span {
    font-size: 15px;
    font-weight: bold;
}

.mr_top>.mr_user_level_txt>.mr_user_benefit_btn_wrapper>#credit_condition>span.credit_up_silver {
    color: #9B9B9B;
}

.mr_top>.mr_user_level_txt>.mr_user_benefit_btn_wrapper>#credit_condition>span.credit_up_gold {
    color: #FFA62E;
}

.mr_top>.mr_user_level_txt>.mr_user_benefit_btn_wrapper>#credit_condition>span.credit_up_platinum {
    color: #ED3969;
}

.mr_top>.mr_user_level_txt>.mr_user_benefit_btn_wrapper>#credit_condition>span.credit_up_vip {
    color: #785BDB;
}

.mr_top>.mr_user_mileage_txt {
    float: right;
    margin-right: 50px;
}

.mr_top>.mr_user_mileage_txt>.mileage_area {
    margin-bottom: 10px;
    text-align: right;
}

.mr_top>.mr_user_mileage_txt>.mileage_area:first-child {
    margin-top: 25px;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_area_content,
.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_all_result,
.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_result {
    display: inline-block;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_area_content {
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_result {
    width: 202px;
    height: 36px;
    font-size: 30px;
    font-family: Tahoma;
    font-weight: bold;
    text-align: right;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_result>.over_mile {
    overflow: hidden;
    width: 179px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_result>.won {
    font-size: 16px;
    font-family: "ë§‘ì€ ê³ ë”•", "Malgun Gothic";
    font-weight: bold;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_all_result {
    width: 202px;
    font-size: 18px;
    font-family: Tahoma;
    font-weight: bold;
    text-align: right;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_all_result>.won {
    font-size: 16px;
    font-family: "ë§‘ì€ ê³ ë”•", "Malgun Gothic";
    font-weight: bold;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_btn {
    display: inline-block;
    width: 165px;
    height: 23px;
    margin-left: 6px;
    background-color: #FFF;
    border: 1px solid #CBCBCB;
    text-align: center;
    line-height: 23px;
    font-size: 12px;
    cursor: pointer;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_charge_btn>.icon_charge {
    display: inline-block;
    width: 18px;
    height: 15px;
    margin-right: 5px;
    background-position: -269px -356px;
    vertical-align: text-bottom;
    text-indent: -9999px;
}

.mr_top>.mr_user_mileage_txt>.mileage_area>.mileage_withdraw_btn>a>.icon_withdraw {
    display: inline-block;
    width: 18px;
    height: 15px;
    margin-right: 5px;
    background-position: -287px -357px;
    vertical-align: text-bottom;
    text-indent: -9999px;
}


.pagecontainer {
    width: 820px
}


.pagecontainer>.content_coupon {
    margin-top: -15px;
}

.pagecontainer>.content_area {
    position: relative;
    width: 100%;
}

.pagecontainer>.content_area>.highlight_contextual_nodemon {
    display: block;
    width: 100%;
    height: auto;
    background-color: initial;
    font-size: 15px;
}

.pagecontainer>.content_coupon {
    font-size: 0;
}

.pagecontainer>.content_coupon>.highlight_contextual_nodemon {
    margin-top: 1px;
}

.pagecontainer>.content_coupon>div {
    display: inline-block;
    width: 98px;
    height: 100px;
    margin-right: 10px;
    background-color: #F9F9FA;
    font-size: 12px;
}

.pagecontainer>.content_coupon :last-child {
    margin-right: 0;
}

.pagecontainer>.content_coupon>.coupon_shop {
    width: 170px;
    vertical-align: top;
}

.pagecontainer>.content_coupon>.coupon_area_content>.coupon_title {
    display: block;
    margin-top: 22px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.pagecontainer>.content_coupon>.coupon_area_content>.coupon_result {
    display: block;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma;
    cursor: pointer;
}

.pagecontainer>.content_coupon>.coupon_area_content>.coupon_sp {
    overflow: hidden;
    width: 170px;
}

.body_rt34DF {
    width: 820px;
    height: 90px;
    border: none;
}

.pagecontainer>.content_trade>.sell_content2 {
    margin-bottom: 10px;
    background: linear-gradient(to right, #159EFD, #12CFA9);
    font-size: 0;
}

.pagecontainer>.content_trade>.buy_content2 {
    background: linear-gradient(to right, #47C826, #DACD00);
    font-size: 0;
}

.pagecontainer>.content_trade>.sell_content2>.sell_content_left,
.pagecontainer>.content_trade>.sell_content2>.sell_content_right {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    height: 90px;
}

.pagecontainer>.content_trade>.buy_content2>.buy_content_left,
.pagecontainer>.content_trade>.buy_content2>.buy_content_right {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    height: 90px;
}

.pagecontainer>.content_trade>.sell_content2>.sell_content_right,
.pagecontainer>.content_trade>.buy_content2>.buy_content_right {
    margin-left: 4px;
}

.pagecontainer>.content_trade>.sell_content2>.sell_content_left>div {
    display: inline-block;
}

.pagecontainer>.content_trade>.buy_content2>.buy_content_left>div {
    display: inline-block;
}

.pagecontainer>.content_trade>.sell_content2 .product_title,
.pagecontainer>.content_trade>.buy_content2 .product_title {
    margin: 0 23px 12px 0;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

.pagecontainer>.content_trade .product {
    display: inline-block;
    width: 162px;
    height: 90px;
    margin: 0 auto;
    vertical-align: top;
}

.pagecontainer>.content_trade .product>div {
    vertical-align: top;
}

.pagecontainer>.content_trade .product_line {
    display: inline-block;
    margin: 15px 0 0 0;
    width: 1px;
    height: 60px;
    background-color: #FFF;
}


.pagecontainer>.content_trade .product>.product_title2>a {
    margin-left: 5px;
}


.pagecontainer>.content_trade .product_wrap {
    position: relative;
    vertical-align: top;
}

.pagecontainer>.content_trade .product_wrap>div>div {
    display: inline-block;
    vertical-align: middle;
}

.pagecontainer>.content_trade .trade_result {
    width: 90px;
    color: #FFF;
    font-size: 20px;
    font-family: Tahoma;
    font-weight: bold;
}

.pagecontainer>.content_trade .trade_result>a {
    overflow: hidden;
    display: block;
    width: 70px;
    text-align: center;
}

.pagecontainer>.content_trade .trade_result2 {
    color: #FFF;
    font-size: 25px;
    font-family: Tahoma;
    font-weight: bold;
}

.pagecontainer>.content_trade .trade_result2>a {
    overflow: hidden;
    display: block;
    width: 162px;
    margin-top: -5px;
    text-align: center;
}

.pagecontainer>.content_trade .complete_wrap>a {
    display: block;
    text-align: center;
}


.pagecontainer>.content_trade .icon_wrap>.sell_icon {
    display: block;
    width: 60px;
    height: 35px;
    margin: 28px 25px 0 25px;
    background-position: -488px -314px;
    text-indent: -9999px;
}

.pagecontainer>.content_trade .icon_wrap>.buy_icon {
    display: block;
    width: 60px;
    height: 35px;
    margin: 28px 25px 0 25px;
    background-position: -550px -314px;
    text-indent: -9999px;
}

.pagecontainer>.content_trade .product_wrap>.sell_product>.product_title,
.pagecontainer>.content_trade .product_wrap>.buy_product>.product_title,
.pagecontainer>.content_trade .product_wrap>.bargain_product>.product_title {
    margin: 0 23px 0 0
}

.pagecontainer>.content_trade .product_wrap>.sell_product,
.pagecontainer>.content_trade .product_wrap>.buy_product {
    margin: 15px 0 10px 0;
}

.pagecontainer>.content_trade>.sell_content2 .product_title2,
.pagecontainer>.content_trade>.buy_content2 .product_title2 {
    margin-top: 17px;
    margin-right: 0;
    text-align: center;
}


.pagecontainer>.content_area>.content_table_wrap {
    position: relative;
    width: 100%;
}

.pagecontainer>.content_area>.content_table_wrap>table {
    border: none;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-size: 12px;
}

.pagecontainer>.content_area>.content_table_wrap>table>thead>tr>th {
    background: none;
    border-top: 2px solid #000;
}

.pagecontainer>.content_area>.content_table_wrap>table>tbody>tr>td {
    padding-left: 0;
    text-align: center;
    border: none;
}

.pagecontainer>.content_area>.content_table_wrap>table>tbody>tr>.tbl_subject {
    padding-left: 36px;
    text-align: left;
}


.pagecontainer>.content_area>.content_table_wrap>table>tbody>tr>.td_blue::before {
    content: 'â—';
}

.pagecontainer>.content_area>.content_table_wrap>table>tbody>tr>.td_blue {
    color: #159EFD
}

.pagecontainer>.content_area>.content_table_wrap>table>tbody>tr>.td_green {
    color: #39A742
}

.pagecontainer>.content_area>.content_table_wrap>table>tbody>tr>.td_green::before {
    content: 'â—';
}

.pagecontainer>.content_area>.content_table_wrap>table>tbody>.tbl_sell_area {
    background: #F1F7FF;
}

.pagecontainer>.content_area>.content_table_wrap>table>tbody>.tbl_buy_area {
    background: #F4FBF4;
}



.pagecontainer>.content_area>.content_table_wrap>table>tbody>.tbl_sell_area>td>.tbl_success_txt {
    color: #159EFD;
    font-weight: bold;
}

.pagecontainer>.content_area>.content_table_wrap>table>tbody>.tbl_buy_area>td>.tbl_success_txt {
    color: #39A742;
    font-weight: bold;
}


.pagecontainer>.content_area_bottom_left {
    width: 490px;
    float: left;
    z-index: 1;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap {
    position: relative;
    width: 100%;
    height: 200px;
}


.pagecontainer>.content_area_bottom_left>.my_security_state_wrap .box_inline {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap .box_inline .box_font {
    font-size: 14px;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap .box_inline>div {
    display: inline-block;
    font-size: 0;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up {
    width: 500px;
    height: 80px;
    background: #F9F9FA;
    margin-bottom: 10px;
    font-size: 0;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_down {
    width: 500px;
    height: 80px;
    background: #F9F9FA;
    font-size: 0;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up> :first-child,
.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_down> :first-child {
    width: 215px;
}


.pagecontainer>.content_area_bottom_left .security_icon,
.pagecontainer>.content_area_bottom_left .security_center_go {
    display: inline-block;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up>.box_inline>.security_wrap,
.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_down>.box_inline>.certify_wrap {
    margin: 0 19px 0 30px;
    width: 37px;
    line-height: 80px;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up>.box_inline>.security_wrap>.security_icon {
    display: inline-block;
    width: 37px;
    height: 40px;
    background-position: -269px -314px;
    vertical-align: middle;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up>.box_inline>.security_center_go {
    height: 80px;
    line-height: 80px;
    font-size: 15px;
    font-weight: bold;
    vertical-align: top;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up>.box_inline2 {
    width: 245px;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up>.box_inline2>div {
    display: block;
    font-weight: bold;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up>.box_inline2> :first-child {
    margin-top: 13px;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up>.box_inline2>div>.service_state {
    float: right;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_up>.security_center_go {
    top: 147px;
    text-align: center;
    height: 28px;
    background: #586175;
    color: #FFF;
    line-height: 26px;
    letter-spacing: -1px;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_down>.box_inline>.certify_wrap>.certify_icon {
    display: inline-block;
    width: 37px;
    height: 40px;
    background-position: -308px -314px;
    vertical-align: middle;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_down>.box_inline>.basic_title {
    height: 80px;
    line-height: 80px;
    font-size: 15px;
    font-weight: bold;
    vertical-align: top;
}

.pagecontainer>.content_area_bottom_left>.my_security_state_wrap>.box_down>.box_inline2>div {
    display: inline-block;
    width: 46px;
    height: 80px;
    margin-right: 5px;
}

.pagecontainer>.content_area_bottom_right {
    width: 310px;
    height: auto;
    float: left;
    margin-left: 20px;
}

.pagecontainer>.content_area_bottom_right>.content_box_wrap {
    position: relative;
    width: 100%;
    height: 170px;
    background: #F9F9FA;
    font-size: 0;
}



.pagecontainer>.content_area_bottom_right>.content_box_wrap>.my_service_wrap {
    display: inline-block;
    width: 103px;
    height: 170px;
    margin: 0 auto;
}

.pagecontainer>.content_area_bottom_right>.content_box_wrap>.my_service_wrap>.content_icon {
    width: 103px;
    height: 40px;
    margin: 24px 0 10px 0;
    text-align: center;
}

.pagecontainer>.content_area_bottom_right>.content_box_wrap>.my_service_wrap>.content_icon>span {
    display: inline-block;
    width: 45px;
    height: 40px;
}

.g_content>.content_area_bottom_right>.content_box_wrap>.my_service_wrap>.content_icon>.my_service_icon {
    background-position: -346px -314px;
}

.g_content>.content_area_bottom_right>.content_box_wrap>.my_service_wrap>.content_icon>.my_search_icon {
    background-position: -394px -314px;
}

.g_content>.content_area_bottom_right>.content_box_wrap>.my_service_wrap>.content_icon>.my_setting_icon {
    background-position: -441px -314px;
}

.g_content>.content_area_bottom_right>.content_box_wrap>.my_service_wrap>.content_text {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.g_content>.content_area_bottom_right>.content_box_wrap>.my_service_wrap>.content_btn {
    width: 103px;
    text-align: center
}

.g_content>.content_area_bottom_right>.content_box_wrap>.my_service_wrap>.content_btn>a {
    display: inline-block;
    width: 75px;
    height: 23px;
    background-color: #FFF;
    border: 1px solid #CBCBCB;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
}



.g_content>.content_area_bottom_right>.content_box_wrap>.my_service_text {}

.g_content>.content_area_bottom_right>.content_box_wrap>.my_search_text {}

.g_content>.content_area_bottom_right>.content_box_wrap>.my_settinangel__text {}

.myroomBannerdown {
    position: relative;
    top: 10px;
}


.myroom_status_part {
    background: url("../../../assets/img/bkg/myroom_status.png");
    background-size: 100%;
    width: 812px !important;
    height: 584px !important;
    margin-top: 14px;
    position: relative;
}
