.g_big_box1{ height:15px; margin-bottom:7px; padding:8px 27px 12px; border:1px solid #E1E1E1; background-color:#F0F0F0; }
.g_big_box1 .g_left .g_selectbox{ float:left; width:80px; height:21px; margin-right:5px; margin-top:-2px;}
.g_notice{ height:24px; margin-top:21px; padding-left:21px; background:url(//img3.itemmania.com/images/icon/img_notice.gif) no-repeat 0 2px; color:#5B5B5B; font-weight:bold }
.g_black3_11{ margin-top:5px }
