.aside .title_green {
    padding: 10px 0;
    background-color: #39A742;
    font-size: 16px;
    text-align: center;
    color: #FFF;
}

.aside .menu_know {
    border: 1px solid #E1E1E1;
    border-top: 0;
    text-align: center;
}



.aside .menu_know img {
    margin-bottom: 12px;
}

.aside .menu_know .g_list {
    margin-top: 3px;
    padding: 8px 7px;
    background-color: #FFF;
    font-size: 11px;
    line-height: 15px;
    color: #767676;
}

.aside .menu_know .g_list li {
    margi-bottom: 8px;
}

.g_green_table td {
    line-height: 20px;
}

.g_green_table input[type=text]:focus {
    background-color: #FEFEEC;
}

.reg_gameserver {
    width: 100%;
}

.search_wrap {
    position: relative;
    box-sizing: border-box;
    height: 37px;
    width: 350px;
}

.search_wrap .input_area {
    position: relative;
    padding-left: 13px;
    box-sizing: border-box;
    width: calc(100% - 65px);
}

.search_wrap .input_area .angel__text {
    width: 100%;
    height: 30px;
    border: 0;
    outline: 0;
    margin-top: 5px;
    background: none;
}

.input_area .search_gs_name~.topsearchbar__close {
    top: 9px;
    right: -31px;
}

.search_wrap .favorite_icon {
    position: absolute;
    top: 5px;
    right: 54px;
    display: block;
    font-size: 22px;
}


.search_wrap .search__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 35px;
}

.search_wrap .icon_search {
    top: 5px;
    left: 10px;
}

.mygame {
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 7px;
    border: 1px solid #C1E2C1;
}

.mygame .th {
    float: left;
    box-sizing: border-box;
    width: 130px;
    height: 98px;
    padding-top: 39px;
    border-right: 1px solid #C1E2C1;
    background-color: #ECF8EC;
    text-align: center;
}

.mygame .th .btn_green2 {
    padding: 0 3px;
    font-size: 11px;
}

.mygame .g_green_table td {
    padding: 3px 5px;
    cursor: pointer;
}

.mygame .sub_txt {
    margin: 7px 0 0 7px;
    font-size: 12px;
}

.mygame .mygame_list {
    float: left;
    overflow: auto;
    box-sizing: border-box;
    width: 518px;
    height: 98px;
    padding: 7px 8px;
    color: #767676;
}

.mygame .mygame_list .empty {
    padding: 30px 0;
    text-align: center;
}

.mygame .mygame_list li {
    position: relative;
    margin-bottom: 2px;
    padding: 0 20px 0 18px;
}

.mygame .mygame_list .del_btn {
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    width: 13px;
    height: 13px;
    background-color: #A0A0A0;
    text-align: center;
    cursor: pointer;
    color: #FFF;
}

.mygame .mygame_list .del_btn:before {
    position: absolute;
    top: -5px;
    left: 4px;
    content: "x";
}

.coms_area {
    position: absolute;
    top: 10px;
    right: 0;
    display: none;
}

.g_txtbtn {
    display: inline-block;
    padding: 0px 5px;
    border: 1px solid #9B9B9B;
    background-color: #FCFCFC;
    font-size: 11px;
    cursor: pointer;
}

.g_txtbtn:hover {
    border-color: #39A742;
    color: #39A742;
}

.g_txtbtn.first_btn {
    margin-left: 10px
}

.direct_info dt {
    float: left;
    margin-right: 7px;
    font-size: 12px;
    font-weight: bold;
    color: #13A33F;
}

.direct_info dd {
    float: left;
}

.direct_info dd select {
    color: #13A33F
}

.direct_info dd select:disabled {
    color: #767676
}

.direct_info .guide_txt {
    font-size: 12px;
    color: #FF2400;
}

.dfServer {
    float: left;
    margin-right: 10px
}

.df_server_code {
    float: left;
    margin-right: 3px;
}

.character_noti {
    clear: both;
    font-size: 12px;
    color: #FF2400;
}

.item_detail_opts {
    float: left;
    margin-bottom: 5px;
}

.item_detail_opts .btn-light-modern {
    display: inline-block;
    width: 36px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 16px;
}

.wideview {
    float: right;
    padding: 0 4px 2px;
    border: 1px solid #696969;
    background-color: #8E8E8E;
    font-size: 11px;
    line-height: 15px;
    color: #F5F4F4;
}

.txtarea.wide {
    height: 230px;
}

.highlight_contextual_nodemon .btn_area {
    position: absolute;
    right: 0;
    bottom: 5px;
}

.highlight_contextual_nodemon .btn-light-modern {
    display: inline-block;
    padding: 0 19px 0 14px;
    font-size: 11px;
    font-weight: normal;
}



.highlight_contextual_nodemon .btn_green {
    display: inline-block;
    height: 23px;
    padding: 0 19px 0 14px;
    background-color: #13A33F;
    font-size: 11px;
    font-weight: normal;
    vertical-align: middle;
    line-height: 20px;
    color: #FFF;
}

.highlight_contextual_nodemon .btn_green:after {
    color: #FFF;
}

.highlight_contextual_nodemon .f_small {
    font-weight: normal;
}

.charge_service {
    position: relative;
    overflow: hidden;
}


.charge_service dl {
    box-sizing: border-box;
    width: 50%;
    float: left;
}

/*.charge_service dl:first-child {*/
/*    margin-left: 0;*/
/*}*/



.charge_service dd {
    box-sizing: border-box;
    height: 153px;
    padding: 10px 0;
    text-align: center;
}

.charge_service dd>div {
    text-align: center;
}



.charge_service .sub_txt {
    font-size: 12px;
}

.charge_service .exp {
    margin: 4px 0 7px;
    font-size: 12px;
}

.charge_service select {
    width: 110px;
    margin-bottom: 5px;
}

.charge_service .premium_sel {
    margin-top: 10px;
}

.charge_service .free_view {
    padding: 4px 19px 4px 18px;
    border-radius: 18px;
    display: block;
    width: 106px;
    text-align: center;
    margin-top: 5px;
}

.charge_service label {
    display: inline-block;
    width: 60px;
    margin: -6px 5px 0 0;
    text-align: right;
    vertical-align: middle;
    font-size: 13px;
}

.charge_service .total_charge {
    clear: both;
    padding: 15px 0;
    border: 1px solid #C1E2C1;
    border-top: 0;
    background-color: #ECF8EC;
    font-size: 12px;
    text-align: center;
}

.charge_service .total_charge div {
    margin-top: 5px;
    text-align: center;
}

.charge_service .total_label {
    font-size: 15px;
    font-weight: bold;
}

.charge_service .total_charge_money {
    font-size: 17px;
    font-weight: bold;
}


.user__contact .guide_txt {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 12px;
    text-decoration: underline;
    color: #13A33F;
}

.user__contact .safe_area .mailbox__list {
    top: 32px;
    right: 5px;
}

.user__contact .excellent_txt {
    float: left
}

.user__contact .excellent {
    float: left;
    margin-left: 10px;
}

.user__contact .excellent li {
    width: 68px;
}

.user__contact .btn-light-modern.after {
    position: relative;
    display: inline-block;
    margin-left: 3px;
    padding: 0px 18px 1px 10px;
    font-size: 11px;
}

.user__contact .btn-light-modern.after:after {
    position: absolute;
    top: -3px;
    margin-left: 1px;
    content: "\203A";
    font-size: 26px;
    color: #13A33F;
}



.noti_txt {
    padding-top: 20px;
    font-size: 11px;
;
    text-align: center;
    color: #ED1C24;
}

.premium_info .inner {
    width: 460px;
}

.premium_info .pre_title {
    font-weight: bold;
    text-align: center;
    color: #13A33F;
}

.premium_info .middle_text {
    padding: 20px 0;
    text-align: center;
}

.premium_info .mileage_sea {
    text-align: center;
    border: 1px
    solid #C1C1C1;
    height: 40px;
    line-height: 40px;
    width: 438px;
    margin: auto;
}

.premium_info .premiumPart--content {
    margin-top: 20px;
    background: #F7F7F7;
    border: 1px solid #C1C1C1;
}

.premium_info .premiumPart--content .float-left,
.premium_info ul .premiumPart--content .float__right {
    height: 32px;
    padding-left: 15px;
    line-height: 28px;
}

.premium_info .premiumPart--content .clearfix {
    height: 32px;
    padding-left: 15px;
    border-top: 1px solid #D9D9D9;
    background-color: #F2F2F2;
    line-height: 30px;
}

.premium_info .premiumPart--content .btn_green2 {
    display: block;
    margin-top: 6px;
    padding: 2px 4px;
}


.reg_info .inner {
    width: 700px;
}

.reg_info .attention {
    bottom: -6px;
    background: #fff;
    font-size: 14px;
    left: 249px;
    padding-left: 10px;
    padding-right: 10px;
}

.reg_info .attention_box {
    padding: 15px 20px;
    border: 1px solid #E8C5C5;
    background-color: #FFEDE8;
    font-size: 13px;
    color: #767676;
}

.reg_info .attention_box li {
    margin-bottom: 3px;
    font-weight: bold;
}

.reg_info .attention_box .f_blue3 {
    margin-top: 10px;
    font-size: 11px;
    font-weight: normal;
}

.reg_info .attention_box li .deco {
    text-decoration: underline;
    color: #FF2400;
}

.reg_info .box6 {
    margin-top: 10px;
    padding: 15px 20px;
    color: #767676;
}

.reg_info .last_txt {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.reg_info .b_input_group {
    margin-top: 20px;
}

.reg_info table {
    table-layout: fixed
}

.reg_info .g_green_table2 {
    margin-top: 10px;
}


#alarm_line {
    display: none;
}

.f_small {
    display: inline-block;
    margin-bottom: 10px;
}

#alarm_line .alarm_notice {
    vertical-align: top;
}

#tag_generator {
    margin-right: 15px;
    height: 23px;
    padding: 0 5px;
}

.character_use_info {
    float: right;
    position: relative;
}

.character_use_info .btn-light-modern {
    display: inline-block;
    padding: 0 19px 0 14px;
    font-size: 11px;
    font-weight: normal;
}

.character_use_info a:after {
    position: absolute;
    top: -1px;
    margin-left: 2px;
    content: "\203A";
    font-size: 26px;
    color: #13A33F;
}

.tag_wrapper h4 {
    padding: 5px 0;
}

.tag_wrapper h4 span {
    color: #7C7C7C;
    font-size: 11px;
}

.tag_wrapper span.tag {
    display: inline-block;
    margin: 0px 15px 10px 0;
    color: #13A33F;
    cursor: pointer;
}

.alarm_ballon {
    position: absolute;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    border: 2px solid #13A33F;
    border-radius: 10px;
    top: -50px;
    right: 10px;
    background-color: #fff;
    color: #13A33F;
}

.alarm_ballon:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 20px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #13A33F;
    transform: rotate(45deg);
    border-left: 0;
    border-top: 0;
}

.alarm_ballon .close_btn:after {
    position: absolute;
    top: 3px;
    right: 7px;
    display: block;
    font-size: 15px;
    content: 'x';
    margin-top: -4px;
    font-weight: bold;
    margin-left: -1px;
    cursor: pointer;
    color: #13A33F;
}

.buy_alarm_keyword {
    color: #13A33F;
}


#tag_more {
    font-size: 11px;
    padding: 0 10px;
}

.no_keyword {
    font-size: 11px;
}

.g_search_wrapper1 {
    height: 300px !important;
}

.search_wrap1 {
    right: 6px;
    z-index: 111;
    width: 438px;
    position: absolute;
    height: 46px;
    line-height: 46px;
}

.gameWindowPopup1 {
    height: 280px;
    display: block !important;
    top: 0px !important;
    border: none !important;
    padding: 0px !important;
}

.gs_list1 {
    margin-top: 56px;
    height: calc(100% - 56px) !important;
    width: 99% !important;
    border: solid 1px #CACACA;
}

.search_wrap1 .search__submit {
    height: 43px !important;
    text-align: center;
    color: white;
    font-size: 25px;
}

.euro-service {
    overflow: hidden;
    position: relative;
    height: 223px;
}

.charge_service {
    overflow: hidden;
    position: absolute;
    top: 72px;
    width: 100%;
}

.charge_service dt {
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    width: 97px;
    margin: auto;
}

.charge_service dl>div {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 15px;
    background: white;
    height: 139px;
    position: relative;
}

.charge_service dl:first-child>div {
    border-color: #FDB416;
}
.charge_service dl:first-child>div{
    border-color: #FDB416;
}
.charge_service dl:nth-child(2)>div{
    border-color: #29DF94;
}
.charge_service dl:nth-child(3)>div{
    border-color: #63A7D2;
}
.charge_service dl:nth-child(4)>div{
    border-color: #B195E0;
}

/*.charge_service dl:first-child{*/
/*    margin-left:0;*/
/*}*/

.total_charge {
    clear: both;
    padding: 15px 0;
    border: 1px solid #F3F5FA;
    border-top: 0;
    background-color: #F3F5FA;
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
}

.aside .title_blue {
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    color: #DA9898;
}
.aside {
    border: 1px solid #A3A3A3;
    /*padding-bottom: 25px;*/
}

.aside .menu_know p.heads {
    font-size: 16px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #DA9898;
    color: white;
    margin-bottom: 16px;
}
