.top_menu {
    overflow: hidden;
    margin-bottom: 20px;
}

.top_menu>li {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 163px;
    height: 33px;
    margin-right: 10px;
    padding-left: 10px;
    border: 1px solid #CCD3DC;
}

.top_menu>li>a {
    display: block;
    font-size: 11px;
    line-height: 31px;
}

.top_menu>li>a:hover,
.top_menu>.on>a {
    font-weight: bold;
    color: #407FD4;
}


.top_menu .img_charge33 {
    width: 42px;
    background-position: -87px -288px;
}

.top_menu .img_charge34 {
    width: 42px;
    background-position: -130px -321px;
}

.top_desc {
    position: relative;
    overflow: hidden;
    height: 117px;
    margin-bottom: 20px;
    padding-left: 200px;
    border: 1px solid #CCD3DC;
}

.top_desc img {
    position: absolute;
    top: 0;
    left: 0;
}

.top_desc_txt {
    box-sizing: border-box;
    height: 117px;
    padding: 15px 20px;
    border-left: 1px solid #CCD3DC;
    background-color: #F0F0F0;
    font-size: 12px;
    color: #767676;
}

.top_desc_txt dt {
    margin-bottom: 5px;
    color: #F26522;
}

.top_desc_txt dd {
    position: relative;
    padding-left: 10px;
}

.top_desc_txt dd:before {
    position: absolute;
    left: 0;
    content: '-';
}

