#model_titlebar,
.model_titlebar {
    padding: 10px 0 13px 20px;
    background-color: #159efd;
    text-align: left;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

#g_POPUP,
#g_POPUP2 {
    margin: 0 auto
}

#g_POPUP {
    padding: 20px 20px 0
}

#g_POPUP2 {
    padding: 20px;
}

.btn-groups_angel {
    margin: 25px 0 10px;
}

.btn-groups_angel .first {
    margin-right: 6px
}

table td {
    font-size: 12px;
}
