.table-primary{width:435px;margin-bottom:7px}
.table-primary td{height:30px;padding-top:0;padding-bottom:0}
.table-primary #user_birth{width:100px}
.table-primary .g_selectbox{float:left;margin-right:5px}
.table-primary .angel__text{width:45px;text-align: center;min-width: unset}
