
body{
    min-width:1100px;
}

.toolbar-btn{
    z-index:50;
    position:fixed;
    top:0;
}

.toobar-content .cert_state:before{
    background: url(/angel/img/icon_check.png);
}
.toolbar-btn .inner{
    position:relative;
    height:100%;
}
.toolbar-btn .arrow{
    position:absolute;
    top:415px;
    left:-12px;
    display:block;
    width:12px;
    height:53px;
    margin-top:-27px;
    background-position:-10px -230px;
}
.qickmenu_on .arrow{
    background-position:-465px -230px;
}
.drawer-content-menu{
    width: 43px;
    z-index:51;
    position:fixed;
    top:100%;
    margin-top:-76px;
}
.drawer-content-menu.close, .toolbar-btn ~ .drawer-content-menu{
    left:15px;
}
.qickmenu_on ~ .drawer-content-menu{
    right:230px;
}
.drawer-content-menu li{
    position:relative;
    width:43px;
    border-bottom:1px solid #A4A4A4;
}
.drawer-content-menu li:last-child{
    border-bottom:0;
}
.drawer-content-menu li > a{
    display:block;
    padding:10px 0;
    text-align:center;
}

.drawer-content-menu .user_info{
    display:inline-block;
    width:28px;
    height:32px;
    background: url(/angel/img/icons/user.png);
    background-size: cover;
}
.drawer-content-menu .trade_list{
    display:inline-block;
    width:24px;
    height:30px;
    background-position:-108px -230px;
}
.drawer-content-menu .favorite{
    display:inline-block;
    width:38px;
    height:33px;
    background-position:-176px -230px;

}
.drawer-content-menu .service{
    display:inline-block;
    width:34px;
    height:29px;
    margin-left:7px;
    background-position:-272px -230px;
}
.drawer-content-menu .pluszone{
    display:inline-block;
    width:31px;
    height:27px;
    margin-left:3px;
    background-position:-573px -230px;
}

.drawer-content-menu .on .trade_list{
    background-position:-142px -230px;
}
.drawer-content-menu .on .favorite{
    background-position:-224px -230px;
}
.drawer-content-menu .on .service{
    background-position:-316px -230px;
}
.drawer-content-menu .on .pluszone{
    background-position:-532px -230px;
}
.drawer-content-menu li div{
    position:absolute;
    top:10px;
    right:36px;
    display:none;
    white-space:nowrap;
}

.drawer-content-menu li i{
    position: relative;
    display: block;
    height: 50px;
    padding: 0 5px;
    font-style: normal;
    line-height: 50px;
    border-right: none;
    font-size: 32px;
}



.toolbar-btn .sidebar-btn{
    display:none;
    width:250px;
    height:100%;
    margin-left:43px;
    background-color:#FFF;
}
.qickmenu_on .sidebar-btn{
    display:block;
}

.sidebar-btn .toobar-content{
    padding:40px 0px 0px 0px !important;
    color:#767676;
}

.head_charge{
    background: url(/angel/img/button/head_charge.png) no-repeat 100%;
    width: 74px !important;
    height: 26px;
    display: inline-block;
}
.head_give{
    background: url(/angel/img/button/head_give.png) no-repeat 100%;
    width: 74px !important;
    height: 26px;
    display: inline-block;
}
.head_myroom{
    background: url(/angel/img/button/head_myroom.png) no-repeat 100%;
    width: 74px !important;
    height: 26px;
    display: inline-block;
}

.toobar-content .cert{
    background: #F3F5FA;
    padding-top: 5px;
    padding-bottom: 5px;
}
.toobar-content .user_name{
    font-size: 17px;
    color: #6D6D6D;
    margin-left: 10px;
    font-weight: 600;
}
.toobar-content .myinfo .status dt{
    font-size:14px;
    font-weight:700;
}
.toobar-content .myinfo .status .credir_rt{
    position:relative;
    margin-left:17px;
    padding:3px 0 15px 54px;
}
.toobar-content .myinfo .status .rt_figure{
    position:absolute;
    top:-7px;
    left:0;
}
.toobar-content .rank{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 2px;
    color: #6D6D6D;
}
.toobar-content .cert span{
    width: 56px;
    height: 31px;
    margin-right: 0;
    font-size: 12px;
    line-height: 28px;
}
.toobar-content .milage{
    margin-top: 5px;
    padding-left: 91px;
    font-weight: 700;
    padding-right: 10px;
    display: inline-flex;
}
.toobar-content .milage dt{
    float:left;
    width:80px;
    margin-left:-80px;
}
.toobar-content .milage dd{
    margin-bottom:6px;
    font-size:14px;
    text-align:right;
}
.toobar-content .other_link{
    padding-bottom:6px;
    border-bottom:1px solid #CCC;
    text-align:center;
}


.toobar-content .other_link a{
    display:inline-block;
    width:65px;
    height:23px;
    margin-left:4px;
    border-radius:10px;
    background-color:#909299;
    text-align:center;
    line-height:23px;
    color:#FFF;
    margin-top: 2px;
    background-color: initial;
    margin-left: 8px;
    height: 30px;
    line-height: 30px;
}
.toobar-content .other_link a:first-child{
    margin-left:0;
}
.toobar-content .trade_list{
    margin-left: 10px;
    margin-right: 10px;
}
.toobar-content .ing_count{
    overflow:hidden;
}
.toobar-content .ing_count li{
    display: block;
    width: 100% !important;
}

.toobar-content .ing_count .c_txt{
    padding:4px 0 5px;
    font-weight:700;
    text-align:center;
    background: #fff;

}
.toobar-content .ing_count .c_txt.sells{
    color:#1FAEFF;
}
.toobar-content .ing_count .c_txt.buys{
    color: #13BA41;
}
.toobar-content .ing_count .qbox{
    margin-top: 3px;
    padding: 0px 0px;
    display: inline-block;
    margin-left: 10px;
}

.toobar-content .ing_count .cnt{
    display:block;
    font-size:16px;
    font-weight:700;
    text-align:center;
}
.toobar-content .ing_count .ings{
    margin-top:9px;
    /*padding-left:55px;*/
    display: inline-block;
}
.toobar-content .ing_count .ings > div{
    display: inline-block;
    width: 110px;
}
.toobar-content .ing_count .ings dt{
    float:left;
    width:55px;
    margin-left:-55px;
}
.toobar-content .ing_count .ings dd{
    overflow:hidden;
    text-align:right;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.toobar-content .favorite{
    margin-top:15px;
    border:1px solid #C4C4C4;
    border-left: none;
    position: relative;
}
.toobar-content .favorite .s_title{
    position:relative;
    height:30px;
    padding-left:12px;
    background-color:#F3F5FA;
    font-size:14px;
    font-weight:bold;
    line-height:27px;
    color:#000;
}
.toobar-content .s_title .setting{
    position:absolute;
    top:6px;
    right:8px;
    width:16px;
    height:15px;
    background-position:-142px -10px;
}
.toobar-content .my_game .btn_area{
    position:absolute;
    top:5px;
    right:5px;
}
.toobar-content .my_game .btn_area a{
    padding:0 4px 2px;
    background-color:#39C4FF;
    font-size:11px;
    color:#FFF;
}
.toobar-content .my_game dd{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 50px;
    margin: 0 0px;
    padding: 26px 4px 0px 8px;
    border-bottom: 1px solid #D6DFE2;
    background-color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.toobar-content .my_game dd:last-child{
    border-bottom:0;
}
.toobar-content .my_game dd.empty{
    padding-top:16px;
    text-align:center;
}
.toobar-content .my_game dd .bedge{
    position:absolute;
    top:9px;
    left:0;
    display:block;
    width:35px;
    height:13px;
}
.toobar-content .my_game dd .bedge.sell{
    background-position:-487px -230px;
}
.toobar-content .my_game dd .bedge.buy{
    background-position:-487px -245px;
}
.toobar-content .bt_bn_area{
    margin-top:20px;
}

.toobar-content .bt_bn_area .bn_freecoupon{
    display:inline-block;
    width:102px;
    height:144px;
    background-position:-930px -2px;
    text-indent:-9999px;
}
.toobar-content .bt_bn_area .mgl{
    margin-left:4px;
}
.toobar-content .s_title{
    position:relative;
    font-size:14px;
    font-weight:700;
}
.toobar-content .ssada li{
    margin-top:10px;
}
.toobar-content .other_menu{
    overflow:hidden;
    padding-left:24px;
}
.toobar-content .other_menu li{
    position:relative;
    float:left;
    width:67px;
    margin:15px 0 0 0px;
    padding-top:76px;
    font-size:12px;
    text-align:center;
}

.toobar-content .other_menu li:nth-child(even){
    margin-left:28px;
}
.toobar-content .other_menu li .has-sprite{
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    width:67px;
    height:66px;
    margin-bottom:10px;
}

.toobar-content .other_menu li .ssadaprice{
    background-position:-992px -230px;
}
.toobar-content .other_menu li .freecharge{
    background-position:-923px -162px;
}
.toobar-content .other_menu li .pointgive{
    background-position:-992px -162px;
}

.toobar-content .other_menu li .lotto{
    background-position:-854px -230px;
}
.toobar-content .other_menu li .freecoupon{
    background-position:-854px -162px;
}
.toobar-content .other_menu li .fortune{
    background-position:-923px -230px;
}


.recommend_e34rf{
    z-index:50;
    position:absolute;
    top:30px;
    right:1100px
}


.siteHeader{
    position:relative;
}
.siteHeader .top_bg{
    clear:both;
    height:30px;
    background-color:#E3E3E3;
    text-align:center;
    line-height:30px;
}
.siteHeader .js-nav-menu{
    width:1080px;
    margin:0 auto;
    font-size:12px;
    color:#767676;
}
.siteHeader .js-nav-menu .js-nav-justicy-left{
    float:left;
}
.siteHeader .js-nav-menu .js-nav-justicy-left > li{
    padding:0 10px;
}
.siteHeader .js-nav-menu .js-nav-justicy-left > li > a{
    display:block;
}
.siteHeader .js-nav-menu .js-nav-justicy-left > li#direct_icon:hover .direct_layer{
    display:block;
}
.siteHeader .js-nav-menu .js-nav-justicy-left .shortcut{
    display:inline-block;
    margin:-2px 0 0 3px;
    padding:0;
    vertical-align:middle;
    cursor:pointer;
}
.siteHeader .js-nav-menu .js-nav-justicy-left .sp_icon{
    display:block;
    width:48px;
    height:16px;
}
.siteHeader .js-nav-menu .js-nav-justicy-left .shortcut_on{
    background-position:-364px -10px;
}
.siteHeader .js-nav-menu .js-nav-justicy-left .shortcut_off{
    background-position:-419px -10px;
}
.siteHeader .js-nav-menu .float-left_com .selected{
    height:30px;
    border-right:1px solid #2A2F3A;
    border-left:1px solid #2A2F3A;
    background-color:#FFF;
    color:#495164;
}
.siteHeader .js-nav-menu .float-left_com .left_bar{
    width:8px;
    height:22px;
    padding:0;
    background-position:100% -300px;
    cursor:default;
}
.siteHeader .js-nav-menu .float__right li{
    cursor:pointer;
    color:#BBB;
}
.siteHeader .js-nav-menu .center_bar{
    margin:0 5px;
    cursor:default;
    color:#858994;
}
.siteHeader .js-nav-menu .float-left_com .center_bar{
    margin:0;
    padding:0;
}
.siteHeader .js-nav-menu .js-nav-justicy-right > li{
    float:left;
    padding:0 5px;
}
.siteHeader .js-nav-menu .js-nav-justicy-right > li:before{
    display:inline-block;
    margin-top:-1px;
    padding-right:10px;
    content:"|";
    vertical-align:top;
}
.siteHeader .js-nav-menu .js-nav-justicy-right > li:first-child:before{
    padding-right:10px;
    content:"";
}
.siteHeader .js-nav-menu .js-nav-justicy-right > li span{
    margin:0 5px;
}
.siteHeader .nav_wrap{
    position:relative;
    height:45px;
    background-color:#159EFD;
    color:#FFF;
}
.nav_wrap .content_center{
    text-align:center;
}
.siteHeader .nav_wrap .nav_menu_nodemon{
    display:inline-block;
    margin-left:107px;
}
.siteHeader .nav_wrap .topmenu_right{
    position:absolute;
    top:0;
    left:0;
}
.nav_wrap .nav li{
    position:relative;
    float:left;
    padding:0 31px;
}
.nav_wrap .nav li a{
    display:block;
    height:45px;
    font-size:17px;
    text-align:center;
    line-height:42px;
}


.nav_wrap .nav .highlight{
    padding:0 23px;
    background-color:#057DD1;
}
.nav_wrap .nav .highlight:first-child a:after{
    position:absolute;
    top:0;
    right:0;
    content:"|";
    font-size:13px;
    color:#FFF;
}
.nav_wrap_p .nav .highlight{
    padding:0 50px;
}
.nav_wrap_p .nav .highlight > a:after{
    content:"" !important;
}
.siteHeader .right_icon{
    position:absolute;
    top:0;
    right:0;
    height:45px;
}
.siteHeader .nav_wrap .user_noti{
    position:relative;
    display:inline-block;
    padding:11px 8px;
}
.siteHeader .user_noti .goods_alarm{
    display:block;
    width:22px;
    height:22px;
    background-position:-82px -10px;
}
.siteHeader .user_noti .bell{
    display:block;
    width:24px;
    height:22px;
    background-position:-8px -367px;
}
.siteHeader .nav_wrap .all_menu{
    display:inline-block;
    padding:14px 8px;
}
.siteHeader .all_menu .list{
    display:block;
    width:20px;
    height:16px;
    background-position:-112px -10px;
}
.siteHeader .user_noti .new_alarm{
    position:absolute;
    top:7px;
    right:-2px;
    box-sizing:border-box;
    min-width:16px;
    height:16px;
    padding:0 5px 0 3px;
    border-radius:8px;
    background-color:#F7432B;
    font-size:12px;
    font-weight:700;
    text-align:center;
    line-height:13px;
    color:#FFF;
    display:none;
}
.siteHeader .user_noti .new_alarm.on{
    display:block;
}
.siteHeader .user_noti .icon_bubble{
    position:absolute;
    top:7px;
    right:-3px;
    box-sizing:border-box;
    min-width:16px;
    height:16px;
    padding:0 5px 0 3px;
    border-radius:8px;
    background-color:#F7432B;
    font-size:12px;
    font-weight:700;
    text-align:center;
    line-height:14px;
    color:#FFF;
}
.outterWrapper .inner{
    border:2px solid #159EFD;
}
.outterWrapper .menu_wrap{
    display:table;
    table-layout:fixed;
    width:100%;
    padding-bottom:25px;
}
.outterWrapper dl{
    display:table-cell;
    padding:0 16px;
    border-left:1px solid #E4E4E4;
    line-height:20px;
}
.outterWrapper .sv{
    margin-top:25px;
}


.direct_layer_net{
    margin-left:0;
}
.g_logo_backimg_area{
    background-repeat:no-repeat;
    background-position:center 30px;
    background-size:2560px auto;
}
.header-brand-logo{
    position:relative;
    width:1080px;
    min-height:140px;
    margin:0 auto;
}
.header-brand-logo .logo a{
    display:block;
    width:221px;
    height:140px;
}
.nav_wrap_df .header-brand-logo .logo a{
    height:auto;
}
.header-brand-logo .header-right-banner{
    position:absolute;
    top:0;
    right:-40px;
}
.search-overlay-wrapper{
    position:absolute;
    top:36px;
    left:219px;
    width:690px;
}

.moduler_footer{
    clear:both;
    margin-top:30px;
    background-color:#616161;
    letter-spacing:0;
}
.siteFooter{
    overflow:hidden;
    border-bottom:1px solid #767676;
}
.siteFooter .hsds-footer__nav{
    position:relative;
    width:1080px;
    height:43px;
    margin:0 auto;
    line-height:43px;
}
.siteFooter .hsds-footer__nav li{
    float:left;
    margin-right:35px;
    color:#E1E1E1;
}
.siteFooter .hsds-footer__nav .font-weight-bold{
    color:#FEFFCF;
}
.hsds-footer__nav .sns{
    position:absolute;
    top:0;
    right:16px;
}
.hsds-footer__nav .sns a{
    display:inline-block;
    width:22px;
    height:22px;
    margin-right:2px;
    vertical-align:middle;
    text-indent:-9999px;
}
.hsds-footer__nav .sns .facebook{
    background-position:-802px -2px;
}
.hsds-footer__nav .sns .instagram{
    background-position:-802px -26px;
}
.hsds-footer__nav .sns .youtube{
    background-position:-802px -50px;
}
.moduler_footer .article-copyright{
    position:relative;
    box-sizing:border-box;
    width:1080px;
    height:110px;
    margin:0 auto;
    padding:28px 0;
    font-size:12px;
    color:#B0B0B0;
}
.moduler_footer .inicis_com{
    position:absolute;
    top:23px;
    right:30px;
    overflow:hidden;
    width:54px;
    height:54px;
    background-color:#616161;
}
.article-copyright .angel-logo-footer{
    float:left;
    margin-top:13px;
}
.article-copyright .css-1q9mcvr{
    float:left;
    margin-left:40px;
    line-height:18px;
}
.aside .nav_subject{
    position:relative;
    box-sizing:border-box;
    width:100%;
    height:107px;
    border-bottom:0;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    background: #3AB7D3;
}
.aside .nav_subject > a{
    display:inline-block;
    margin-top:18px;
    font-size: 18px;
    color: #fff;
}
.aside .nav_subject .a_img{
    width:100%;
    background:none;
    text-align:center;
    text-indent:0;
}
.aside .nav_subject .myroom{
    width:72px;
    background-position:-10px -10px;
}
.aside .nav_subject .customer{
    width:107px;
    background-position:-199px -10px;
}
.aside .nav_subject .giftcard{
    width:98px;
    background-position:-91px -10px;
}
.aside .nav_subject .guide{
    width:98px;
    background-position:-316px -10px;
}
.aside .nav_subject .power{
    width:168px;
    background-position:-422px -10px;
}
.aside .nav{
    position:relative;
    box-sizing:border-box;
    width:100%;
    height:auto;
    border:1px solid #DDD;
}
.aside .nav a{
    border-bottom: solid 1px gray;
    text-align: center;
    display: block;
}
.aside .nav > .nav_title{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding-left: 0px;
}
.aside .nav > .activated{
    background:#3AB7D3;
    color:white;
}
.aside .nav > .nav_sub{
    position:relative;
    box-sizing:border-box;
    width:100%;
    padding-left:30px;
    line-height:20px;
    color:#9F9F9F;
}
.aside .nav > .activated ~ .nav_sub{
    margin-top:5px;
}
.aside .nav > .nav_sub .activated{
    font-weight:bold;
    color:#767676;
}
.aside .nav > .nav_sub:last-child{
    margin-bottom:10px;
}

.nav_wrap_df{
    overflow:hidden;
    width:1080px;
    margin:0 auto;
    padding-top:0;
    border-bottom:4px solid #407FD4;
}
.nav_wrap_df .header-brand-logo{
    float:left;
    width:auto;
    min-height:0;
}
.nav_wrap_df .nav{
    float:right;
    margin-top:25px;
}
.nav_wrap_df .nav li{
    position:relative;
    float:left;
    margin-left:13px;
}
.nav_wrap_df .nav li a{
    display:block;
    height:45px;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    line-height:42px;
}
.nav_wrap_mi{
    padding-top:22px;
    border-bottom:0;
}
.nav_wrap .content_right{
    position:relative;
    width:1080px;
    margin:0 auto;
    text-align:right;
}
.siteHeader .nav_wrap .nav_mi{
    display:inline-block;
}
.siteHeader .nav_wrap .nav_mi li{
    padding:0 0 0 60px;
}
.g_logo_right{
    float:right;
    padding:28px 9px 0 0;
    color:#646464;
}
.g_logo_right .login{
    display:inline-block;
    margin-left:10px;
    padding:5px 15px 5px 15px;
    border:2px solid #646464;
    border-radius:19px;
    font-weight:bold;
    text-align:center;
}
.g_logo_right .login:hover{
    border-color:#159EFD;
    background-color:#159EFD;
    color:#FFF;
}
.goods_alarm_dialog{
    background-color:#159EFD;
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:9;
    width:280px;
    height:86px;
    border-radius:15px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
    display:none;
}
.goods_alarm_dialog.on{
    display:block;
}
.goods_alarm_dialog .close_btn{
    color:#FFF;
    float:right;
    margin-right:15px;
    margin-top:2px;
    cursor:pointer;
    font-weight:bold;
}
.goods_alarm_dialog .close_btn::after{
    position:absolute;
    display:block;
    top:8px;
    right:12px;
    font-size:10px;
    content:"\2573";
}
.goods_alarm_dialog .goods_alarm_dialog_content{
    color:#FFF;
    margin-top:20px;
}
.goods_alarm_dialog .goods_alarm_dialog_content div, .goods_alarm_dialog .goods_alarm_dialog_content span{
    display:inline-block;
}
.goods_alarm_dialog .goods_alarm_dialog_content span img{
    margin-top:-25px;
    animation:swing ease-in-out 0.3s infinite alternate;
    transform-origin:50% 0;
    margin-left:3px;
}
.goods_alarm_dialog .goods_alarm_dialog_content div dt{
    font-weight:bold;
    font-size:16px;
    margin-bottom:2px;
}
.goods_alarm_dialog .goods_alarm_dialog_content div dd{
    font-size:14px;
}

@keyframes swing{
    0%{
        transform:rotate(10deg)
    }
    100%{
        transform:rotate(-10deg)
    }
}

.title-sell{
    color: #1BB0F0;
    font-weight: 600;
}
.title-buy{
    color: #13BA41;
    font-weight: 600;
}

.topbar-left{
    position: absolute;
    top: 184px;
    width: 314px;
    border: 1px solid;
    padding-top: 13px;
    background: #fff;
    z-index: 100;
}

.top_full{
    margin-top: 9px;
}

.showing_fav {
    position: absolute;
    top: 6px;
    right: 10px;
    border-radius: 50%;
    border: 1px solid;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    cursor: pointer;
}

.box-menus i.fa {
    font-size: 19px;
    color: #999999;
}

.box-menus td, .box-menus th {
    padding: 0.55rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
    font-size: 12px;
}
