.container_fulids table {
    width: 100%;
    border-top: 2px solid #000;
    font-size: 14px;
}

.container_fulids table th {
    height: 70px;
    padding-left: 20px;
    background-color: #FFF;
    text-align: left;
}

.container_fulids .angel__text,
.container_fulids .credient_input {
    width: 340px;
    height: 34px;
    outline: none;
    font-size: 14px;
}

.container_fulids select {
    width: 82px;
    height: 34px;
    margin-right: 3px;
    vertical-align: middle;
}

.container_fulids .mobile_area .angel__text {
    width: 70px;
}

.container_fulids .email_area .angel__text {
    width: 160px;
}

.container_fulids .email_area select {
    width: 120px;
    margin-left: 10px;
}

.container_fulids table .btn_blue3 {
    width: 80px;
    height: 34px;
    margin-left: 7px;
    font-size: 12px;
}

.id_check,
.container_fulids table .text-customgray {
    margin-left: 10px;
    font-size: 12px;
}



.guide_add {
    position: relative;
    float: left;
}

.password_help {
    position: absolute;
    top: 7px;
    right: 7px;
;
}

.muser_password {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    line-height: 30px;
}

.credient_input.blue {
    border-color: #5A95FD;
    background-color: #FBFCFF;
}

.credient_input.red {
    border-color: #F2685E;
    background-color: #FFFAFA;
}

.bold_text {
    font-weight: bold;
}

.container_fulids .btn-groups_angel .btn_blue3 {
    width: 270px;
    padding: 21px 0;
    background-color: #216ED7;
}


