.g_container table {
    width: 100%;
    border-top: 2px solid #000;
    font-size: 14px;
}

.g_container table th {
    height: 70px;
    padding-left: 20px;
    background-color: #FFF;
    text-align: left;
}

.g_container .g_text,
.g_container .g_password {
    width: 340px;
    height: 34px;
    outline: none;
    font-size: 14px;
}

.g_container select {
    width: 82px;
    height: 34px;
    margin-right: 3px;
    vertical-align: middle;
}

.g_container .mobile_area .g_text {
    width: 70px;
}

.g_container .email_area .g_text {
    width: 160px;
}

.g_container .email_area select {
    width: 120px;
    margin-left: 10px;
}

.g_container table .btn_blue3 {
    width: 80px;
    height: 34px;
    margin-left: 7px;
    font-size: 12px;
}

.id_check,
.g_container table .f_black3 {
    margin-left: 10px;
    font-size: 12px;
}



.guide_add {
    position: relative;
    float: left;
}

.password_help {
    position: absolute;
    top: 7px;
    right: 7px;
;
}

.muser_password {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    line-height: 30px;
}

.g_password.blue {
    border-color: #5A95FD;
    background-color: #FBFCFF;
}

.g_password.red {
    border-color: #F2685E;
    background-color: #FFFAFA;
}

.bold_text {
    font-weight: bold;
}

.g_container .g_btn .btn_blue3 {
    width: 270px;
    padding: 21px 0;
    background-color: #216ED7;
}


