.new_type label {
    display: inline-block;
    margin-right: 3%;
}

.tb_form > .h_auto {
    visibility: hidden;
    min-height: auto;
}

.tb_form > .h_auto > div {
    padding: 0;
}

.h_auto .gs_wrap {
    position: relative;
    overflow: hidden;
}

.h_auto .gs_list {
    height: auto;
    margin-top: 0;
    padding: 1px;
}

.h_auto .gs_list div {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    max-height: none;
    padding-left: 15px;
    border-bottom: 1px solid #D6D6D6;
    background-color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 42px;
}

.infinite_list > div {
    position: absolute;
}

.addr_tr div span {
    display: inline-block;
    width: 40px;
}

.addr_tr div .g_text {
    display: inline-block;
    width: calc(100% - 40px);
}

.container {
    min-height: calc(100% - 55px - 205px);
}

body {
    background-color: #FFF;
    letter-spacing: -1px;
    line-height: 1.5;
}

.h_tit {
    background-color: #FFF;
}

.h_tit h1 {
    color: #1D1D1D;
}

.g_title {
    background-color: transparent;
    font-size: 16px;
    color: #1D1D1D;
}

.btn_back {
    width: 40px;
}

.btn_back em {
    width: 28px;
    height: 26px;
    background-image: url(//img2.itemmania.com/mobile_images/sp_main_20210423.png);
    background-position: -387px -119px;
    background-size: 471px auto;
}

.btn_menu em {
    width: 22px;
    height: 22px;
    background-image: url(//img2.itemmania.com/mobile_images/sp_main_20210423.png);
    background-position: -218px -113px;
    background-size: 471px auto;
}

.g_title {
    min-height: auto;
    margin: 0;
    padding: 10px 0 5px;
    border-bottom: 2px solid #444;
}

.g_title + .tb_form {
    border-top: 0;
}

.bd_none {
    border: 0;
}

.tb_form > li > label {
    background-color: #F5F7F8;
    color: #1D1D1D;
}

.search {
    padding: 20px 25px;
    background: linear-gradient(to right, #2B9EFD, #A8A0FF);
}

.search .search_top {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.search_list {
    clear: both;
    text-align: center;
    color: #FFF;
}

.search_list li {
    display: inline;
    word-spacing: 15px;
}

.search .search_bar {
    position: relative;
    padding: 5px 30px 5px 10px;
    border-radius: 3px;
    background-color: #FFF;
    font-size: 15px;
    color: #9F9F9F;
}

.search_bar .search_img {
    position: absolute;
    top: 5px;
    right: 6px;
}

.s_text {
    width: 100%;
    height: 22px;
    border: 0;
    outline: 0;
}

.faq_list {
    position: relative;
    padding-bottom: 10px;
}

.faq_list .question {
    padding: 10px;
    border-bottom: 1px solid #C6C6C6;
    font-size: 13px;
    cursor: pointer;
    color: #636363;
}

.faq_list .question .category {
    font-size: 15px;
    font-weight: bold;
    color: #159EFD;
}

.faq_list .answer {
    display: none;
    overflow: hidden;
    padding: 15px 20px;
    background-color: #F5F7F8;
    font-size: 13px;
}

.faq_list .answer p {
    margin: 0;
}

.g_paging {
    font-size: 0;
}

.g_paging li {
    display: inline-block;
    width: 45px;
    padding: 0;
    vertical-align: middle;
}

.g_paging li a, .g_paging li strong {
    display: block;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #C6C6C6;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    color: #636363;
}

.g_paging li strong {
    border: 2px solid #159EFD;
    color: #159EFD;
}

.g_paging .box_wh {
    width: 45px;
    height: auto;
    margin: 0 5px;
    border: 0;
    line-height: normal;
}

.top_area {
    overflow: hidden;
    padding: 15px;
    background-color: #E6F5FE;
}

.top_area dt {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #1D1D1D;
}

.top_area dd {
    font-size: 13px;
    color: #636363;
}
