#mile_year {
    text-align: center;
    overflow: auto;
}

#mile_year li {
    float: left;
    width: 16px;
    color: #000;
    font-size: 14px;
    font-weight: bold
}

#mile_year .center {
    width: 100px;
    margin-top: 3px;
    text-align: center
}

.mile_month {
    width: 100%;
    margin-top: 10px;
    background-color: #F8F8F8;
    border: 1px solid #DCDCDC
}

.mile_month li {
    width: 8.33%;
    padding: 8px 0;
    background-color: #F8F8F8;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer
}

.mile_month .selected {
    background-color: #54b5cb;
    color: #FFF
}

#month_mile {
    width: 800px;
    height: 18px;
    padding: 5px 10px;
    text-align: right;
    border: 1px solid #DCDCDC;
    border-top: 0
}

#month_mile li {
    float: right;
    margin-left: 15px
}

#mile_calendar {
    margin: 10px 0;
    border-top: 1px solid #adadad;
    border-right: 1px solid #DCDCDC;
    border-spacing: 0;
    border-collapse: collapse;
    color: #444;
    width: unset;
}
.calendar__part{
    display: flex;
}

#mile_calendar th {
    height: 25px;
    text-align: center;
    border-left:none;
    border-bottom: 1px solid #adadad;
    border-right: none;
    background: #fff;
}

#mile_calendar th:first-child{
    border-left: 1px solid #adadad;
}

#mile_calendar th:last-child{
    border-right: 1px solid #adadad;
}

#mile_calendar td {
    height: 40px;
    padding: 5px 10px;
    border-left: 1px solid #adadad;
    border-bottom: 1px solid #e3e3e3;
    vertical-align: top;
}

#mile_calendar tr:last-child td{
    border-bottom: 1px solid #adadad;
}

#mile_calendar .float__right {
    font-weight: bold
}

#mile_calendar .saterday {
    color: #000;
    /*background-color: #cdcdcd*/
}

#mile_calendar .sunday {
    /*background-color: #cdcdcd*/
}

#mile_calendar .sunday .float__right {
    color: #DE0000
}

#mile_calendar .in {
    margin-top: 5px;
    padding-left: 16px;
    background: url(../../../../img/icons/icon_deposit.gif) no-repeat 0 2px
}

#mile_calendar .out {
    margin-top: 3px;
    padding-left: 16px;
    background: url(../../../../img/icons/icon_withdraw.gif) no-repeat 0 2px
}
