.g_blue_table {
    margin: 10px 0 5px
}

.g_blue_table tr th {
    padding-left: 10px;
    text-align: left
}

.g_blue_table tr td {
    padding-right: 15px;
    text-align: right
}

.g_btn .first {
    margin-right: 15px
}


.g_notice_box1 {
    background: #F1F1F1;
    padding: 15px 20px;
    border: 1px solid #DDD;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
