
.btn_ok{display:inline-block;width:50px;height:21px;border:1px solid #7D7D7D;background-color:#878787;text-align:center;color:#F5F4F4;line-height:19px;font-size:12px;}
.cultureid_check{margin-left:10px;}
.spnPayment_mileage{font-size:15px;color:#FF2400;}
.tabMenu .sub_btn{top:7px;width:116px;height:24px;background:url(//img4.itemmania.com/new_images/myroom/btn_cl_id.gif) no-repeat;text-indent:-9999px;}
