.top_box {
    width: 820px;
    height: 110px;
    margin-bottom: 20px;
    background-position: -2px -1437px;
}

.top_box > .top_title {
    padding: 30px 0 0 60px;
    font-size: 18px;
    font-weight: bold;
    color: #454952;
}

.top_box p {
    padding: 5px 0 0 60px;
    font-size: 14px;
    font-weight: bold;
    color: #454952;
}

.ft_orange {
    color: #FF4E00;
}

.box {
    padding: 10px 24px 10px 24px;
    border: 1px solid #b6b6b6;
}

.custom_search_wrapper {
    padding-left: 180px;
}

.custom_search_wrapper .gameTypePopup {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -13px;
}

.custom_search_wrapper .search_area {
    box-sizing: border-box;
    width: calc(100% - 73px);
    border: 2px solid #d3d3d3;
    border-radius: 20px;
    padding: 0 115px 0 20px;
    height: 43px;
}

.box .search_gs_name ~ .topsearchbar__close{
    right: -4px;
}

.box .custom_search_wrapper .gameTypePopup{
    left: 35px;
}


.custom_search_wrapper .search__submit {
    position: absolute;
    top: 16px;
    right: 14px;
    width: 62px;
    height: 32px;
    background: #009169;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.custom_search_wrapper .icon_search {
    top: 5px;
    left: 10px;
}

.custom_gameserver {
    left: 180px;
    width: calc(100% - 180px);
    top: 75px;
}


.select2-container .select2-selection--single{
    height: 32px;
    border-radius: 0px;
}


.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 32px;
}


.btn-endsb_search{
    height: 30px;
    line-height: 30px;
    width: 65px;
    text-align: center;
    display: inline-block;
    color: #000;
    background: #d7d7d7;
    border: 1px solid #000;
}

.btn-endsb_search.selected{
    background: #fff;
    border: 1px solid #009169;
    color: #009169;
}

.btn-endsb_search:last-child{
    margin-left: -4px;
    border-left: none;
}

.btn-endsb_search:first-child{
    border-right: none;
}

.btn-endsb_search.selected:first-child{
    border-right: 1px solid #009169;
}

.btn-endsb_search.selected:last-child{
    border-left: 1px solid #009169;
}


.mine-game{
    border: 1px solid #b6b6b6;
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
}


.mine-game>div{
    border: 1px solid #7d7d7d;
    display: inline-block;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #dadada;
    margin-bottom: 5px;
    position: relative;
    padding-right: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 7px;
    margin-right: 5px;

}

.mine-game>div i{
    position: absolute;
    right: 5px;
    top: 4px;
    font-weight: bold;
    cursor: pointer;
}
