
.siteHeader .js-nav-menu {
    font-size: 14px;
}
.siteHeader .js-nav-menu a {
    cursor: pointer;
    font-size: 13px;
    position: relative;
    color: #000;
}
/*.siteHeader .js-nav-menu a:hover{*/
/*    color: #f66d1c;*/
/*}*/
.siteHeader .js-nav-menu {
    height: 32px;
    padding: 8px 0;
}
.siteHeader .js-nav-menu .js-nav-justicy-right > li:before {
    content: "";
}

/*.header-brand-logo {*/
/*    height: 80px !important;*/
/*    min-height: 80px !important;*/
/*}*/
/*.header-brand-logo .logo {*/
/*    padding-top: 16px;*/
/*}*/

.search-overlay-wrapper {
    /*margin-left: 88px;*/
    top: 7px;
    /*border: 1px solid #978f8f;*/
    /*background: #4d4d4d;*/
}
.search_area {
    padding: 0;
    background: transparent;
    height: 42px;
}
.search_area .angel__text {
    font-size: 16px;
    color: #948888;
    height: 40px;
    line-height: 40px;
    border-radius: 18px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    padding-left: 14px;
    padding-right: 33px;
}

.search__submit .icon_search {
    background-image: url("../img/icons/icon_search.png");
    background-position: initial;
    background-size: 100%;
    top: 10px;
    left: 5px;
    width: 28px;
    height: 30px;
}
/*.search-overlay-wrapper .search__submit {*/
/*    */
/*}*/
.search_gs_name ~ .topsearchbar__close {
    top: 11px;
    right: -22px;
}
.gameWindowPopup {
    border: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    top: 43px;
}
/*.gameTypePopup {*/
/*    padding: 2px 0 12px;*/
/*}*/
.gameTypePopup .radiocontainer {
    padding-left: 26px;
    padding-top: 3px;
    font-size: 14px;
}
.gameTypePopup .text-green_modern {
    margin-left: 40px;
}
._34Cr45d_reacts .tab>div {
    font-size: 15px;
    /*border: 1px solid #32b5ff;*/
    /*border-right: 0;*/
    /*border-top: 0;*/
    background: #dcdcdc;
}
/*._34Cr45d_reacts .tab>.active {*/
/*    border-top: 1px solid #32b5ff;*/
/*}*/
._34Cr45d_reacts .tradecan_top>.tradecan_h89eC {
    background-color: transparent;
    color: black;
}
._34Cr45d_reacts .tradecan_top>.tradecan_h89eC span {
    border-bottom: solid 2px #37cfff;
}
._34Cr45d_reacts .tradecan_top>.top__gamelist {
    font-size: 14px;
}
/*.siteHeader .nav_wrap {*/
/*    background-color: #159efd;*/
/*    height: 50px;*/
/*}*/
.siteHeader .nav_wrap .nav_menu_nodemon {
    display: block;
    overflow: auto;
}
.siteHeader .nav_wrap .topmenu_right {
    left: 720px;
}
/*.nav_wrap .nav li {*/
/*    padding: 0 32px;*/
/*    !*border-right: 1px solid #333;*!*/
/*}*/
/*.nav_wrap .nav li:nth-child(1):hover a{*/
/*    color: #3295d3;*/
/*}*/
/*.nav_wrap .nav li:nth-child(2):hover a{*/
/*    color: #edb528;*/
/*}*/
/*.nav_wrap .nav li:nth-child(3):hover a{*/
/*    color: #ea70a5;*/
/*}*/
/*.nav_wrap .nav li:nth-child(4):hover a{*/
/*    color: #1b9fa2;*/
/*}*/

/*.nav_wrap .nav li:nth-child(1):hover{*/
/*    color: #2879bf;*/
/*}*/

/*.nav_wrap .nav li a {*/
/*    height: 50px;*/
/*    line-height: 48px;*/
/*}*/
/*.nav_wrap .nav .highlight {*/
/*    padding: 0 58px;*/
/*}*/
/*.nav_wrap .nav_menu_nodemon li a:after {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    content: "|";*/
/*    font-size: 13px;*/
/*    color: #6ac2ff;*/
/*}*/
.nav_wrap .nav_menu_nodemon li:last-child a:after {
    content: "";
}

._34Cr45d_reacts .tab>div {
    height: 48px;
    line-height: 48px;
}
.ads-title {
    color: #f9c36d;
    font-weight: bold;
    font-size: 35px;
}
.top-ads-content {
    padding-top: 40px;
}
.ads-content {
    line-height: 18px;
    padding-left: 12px;
}
.top-ads-part {
    background-image: url("../img/bkg/ads-header.png");
    background-size: cover;
    height: 100px;
    width: 100%;
}
.pagecontainer {
    min-height: 560px;
}
