body {
    font-family: Roboto !important;
}
.d-flex {
    display:flex;
}
.position-ref {
    position: relative;
}
.position-abs {
    position: absolute;
}
.m-auto {
    margin: auto;
}
.p-0 {
    padding: 0 !important;
}
.m-0 {margin: 0 !important}
.w-init {
    width: inherit;
}
.w-100 {
   width: 100%;
}
.w-50 {
    width: 50%;
}

.align-center {
    text-align: center !important;
}
.align-right {
    text-align: right !important;
}
.align-left {
    text-align: left !important;
}
.no-border {
    border: none !important;
}
.border-bottom {
    border-bottom: solid 1.2px #d3d3d3 !important;
}
.border-normal {
    border: solid 1.2px #d3d3d3 !important;
}

.c-white {
    color: white !important;
}
.c-black {
    color: black !important;
}
.c-light-red {
    color: #ff1c0b !important;
}
.c-blue-title {
    color: dodgerblue !important;
}

.f-30 {
    font-size: 30px !important;
}
.f-28 {
    font-size: 28px !important;
}
.f-26 {
    font-size: 26px !important;
}
.f-24 {
    font-size: 24px !important;
}
.f-22 {
    font-size: 22px !important;
}
.f-20 {
    font-size: 20px !important;
}
.f-18 {
    font-size: 18px !important;
}
.f-17 {
    font-size: 17px !important;
}
.f-16 {
    font-size: 16px !important;
}
.f-15 {
    font-size: 15px !important;
}
.f-14 {
    font-size: 14px !important;
}
.f-13 {
    font-size: 13px !important;
}
.f-12 {
    font-size: 12px !important;
}
.f-11 {
    font-size: 11px !important;
}
.f-normal {
    font-weight: normal !important;
}
.f-bold {
    font-weight: bold !important;
}
.back-normal {
    background-color: #f2f4f7 !important;
}
.btn-blue-img {
    background-image: url('../img/button/btn-charge.png')
}
.btn-gray-img {
    background-image: url('../img/button/btn-cancel.png')
}
.btn-color-img {
    width: 139px;
    height: 33px;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    background-size: 100% 100%;
    background-color: transparent;
}
.g_sky_table {
    border-left: solid 1px #89c1ce;
}
.g_sky_table, .g_sky_table tr th, .g_sky_table tr td {
    border-color: #89c1ce;
}
.g_sky_table tr th {
    background-color: #e3f0f3;
}
.gn_button {
    padding: 2px 5px;
    background: #001897;
    cursor: pointer;
}
#popup_title_bar {
    background-color: #0081b9 !important;
}
.button_ok {
    background: #0d819b;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 4px;
}
.button_cancel {
    background: #797a7a;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 4px;
}
.btn-arrow-left,
.btn-arrow-right {
    position: relative;
}
.btn-arrow-left:after,
.btn-arrow-right:after {
    position: absolute;
    width: 14px;
    top: 18px;
    height: 18px;
    right: 30px;
    content: "";
    display: inline-block;
    background: url(../img/icons/btn-arrow.png) no-repeat;
}
.btn-arrow-left:after {
    background: url(../img/icons/btn-arrow-left.png) no-repeat;
    left: 34px;
}
.g_title_blue {
    margin-left: 0px !important;
}
