
.g_title {
    margin-bottom: 10px;
}

.giftlist_banner {
    height: 130px;
    position: relative;
    background: url(//img2.itemmania.com/new_images/portal/gift/qrbn.jpg) no-repeat;
    margin-bottom: 10px;
}

.giftlist_banner .qrcode {
    position: absolute;
    top: 10px;
    left: 90px;
}

select {
    margin: 30px 0 10px;
}

.select {
    margin-top: 30px;
}

.notice_box {
    margin-top: 20px;
    padding: 25px 0 25px 30px;
    background-color: #F5F7F8;
}

.notice_box > dt {
    margin-bottom: 10px;
    font-size: 16px;
}

.notice_box > dd {
    position: relative;
    padding-left: 15px;
    font-size: 12px;
    line-height: 20px;
    color: #767676;
}

.notice_box.dash > dd::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "-";
}
