
.toolbar-btn .sidebar-btn {
    width: 300px;
}

.sidebar-btn .toobar-content {
    padding: 40px 20px 40px;
}
.credit_mark.vip {
    background-image: url("../img/icons/icon_vip.png");
}
.toobar-content .myinfo .status .rt_figure{
    top: 0;
}
/*.toobar-content .user_name {*/
/*    font-size: 16px;*/
/*    padding-top: 3px;*/
/*    color: #159efd !important;*/
/*}*/
.toobar-content .rank {
    font-size: 14px;
    font-weight: 600;
    padding-top: 3px;
}
.toobar-content .myinfo .status .credir_rt {
    padding: 3px 0 0px 60px;
}


.cert_state.off:before,
.cert_state.on:before {
    background: url("../img/icons/icon_check.png") no-repeat;
    background-size: 100% !important;
    width: 15px;
    height: 15px;
    left: 0px;
    top:2px;
    position: absolute;
    display: inline-block;
    margin-right: 5px;
    content: "";
}
.cert_state.off:before {
    background: url("../img/icons/icon_uncheck.png") no-repeat;
}



#user_charge_proc {
    width: 33%;
    background-image: url("../img/button/btn-charge.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#user_exchange_proc {
    width: 33%;
    background-image: url("../img/button/btn-exchange.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#user_myroom {
    width: 33%;
    background-image: url("../img/button/btn-myroom.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


.toobar-content .ing_count li {
    width: 126px;
}

.top_full {
    /*margin-bottom: 5px;*/
    /*margin-top: 180px;*/
}
.top_full,
.top_area,
.bg_opacity,
.service_wrap,
.carousel_module > .banner_in > .banner_item .carousel_images {
    height: 310px;
    width: 100%;
    object-fit: cover;
}
.service_wrap,
.bg_opacity {
    left: 0;
    width: 100%;
    height: 66px;
}
.carousel_module .banner_indicate {
    right: 505px;
    bottom: 10px;
    top: auto;
}
.service_favorite {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.service_set .setting {
    top: 24px;
    right: 14px;
}
.service_set li {
    float: initial;
    margin-bottom: 2px;
    padding-top: 2px;
    width: 100%;
    height: 34px;
    display: flex;
}
.service_set li span {
    display: block;
}
.service_set li div {
    line-height: 34px;
    padding-left: 4px;
}
.service_set > ul {
    padding-left: 26px;
}
.realtime_sell_wrapper
{
    overflow: auto;
    height: 200px;
}
.realtime_list {
    width: 90px;
}
.realtime_game {
    width: 170px;
}


._34Cr45d_reacts .tab_content {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
}
.tab_content table tr td {
    padding: 7px;
}
.title {
    background: #f2f4f7;
    border: none;
    font-weight: bold;
}
#gameChart {
    height: 270px;
}
#gameChart .gameChart_drawGraph_area,
#gameChart .gameChart_server_list_area {
    margin-top: 14px;
}
#gameChart .gameChart_server_list_area .gameChart_server_list_title {
    border-top: 1px solid #DEE3EB;
    font-size: 14px;
}
#gameChart .gameChart_server_list_area .gameChart_server .server_name,
#gameChart .gameChart_server_list_area .gameChart_server .server_price {
    font-size: 13px;
}
#gameChart .gameChart_title_list div {
    font-size: 15px;
}
.rank_list {
    float: initial;
    width: 50%;
    height: 180px;
}
.rank_list li {
    margin-top: 15px;
}
.fixed-height {
    height: 114px;
}
.inquery_part {
    margin-top: 40px;
    margin-left: 16px;
}
.inquery_part .bottom_info {
    margin-left: 18px;
}
.call_num {
    font: initial;
    font-size: 40px;
    font-weight: bold;
}
.call_txt {
    margin-left: 4px;
}
.plus_icon,
.move_btn {
    top: 16px;
}
.bacnked_list_3e9RT {
    width: 100%;
}
.bacnked_list_3e9RT li {
    width: 132px;
}
.bacnked_list_3e9RT li a {
    border-right:none;
}
.service_list label .has-sprite {
    margin: 10px auto 7px;
}
.settings_window .service_list li {
    height: 90px;
}
.service_list .tmp_checkbox {
    right: 10px;
    left: initial;
}

.service_set ul a{
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
