/*
 * @title			ë§ˆì¼ë¦¬ì§€ ê²°ì œ ì¸ì¦
 * @author			ê¹€í˜„ì§„
 * @date			2012.03.16
 * @update			ìˆ˜ì •ë‚ ì§œ(ìˆ˜ì •ìž)
 * @description
 */
.subtitle{background:url(//img2.itemmania.com/images/icon/icon_arrow1.gif) no-repeat 0 5px;padding-left:10px;color:#2F2F2F;font-size:12px;font-weight:normal;}
.box_wrap{overflow:hidden;margin:5px auto 0;}
.box{position:relative;margin:auto;}
.box .off{ position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.8) }
.box .title{padding:5px 0;background-color:#F0F0F0;border:1px solid #DBDBDB;text-align:center;font-weight:bold;}
.box .auth_info{padding:13px 0;border:1px solid #DBDBDB;border-top:0;text-align:center;}
.box .auth_info .txt{margin:6px 0;font-size:12px;text-align:center;}
.box .auth_info .btn_blue3{width:100px;height:26px;text-align:center;font-size:12px;line-height:23px;}
.g_green_table{ margin-bottom:10px; }
.g_green_table tr td{ padding:0 0 0 15px }
.box2{display:none;overflow:hidden;float:none;width:auto;margin:10px auto;}
.box2 .auth_info{ overflow:hidden; padding:0 }
.auth_info li{ float:left }
.auth_info .pub_img{ border-right:2px solid #D4DEE6 }
.auth_info .phone_info{padding:10px 0 0 20px;}
.g_notice_box1{margin:30px 0 20px;padding:10px 15px 7px;}
.g_btn{ margin-top:20px }
.certify_title{ box-sizing:border-box; width:450px; margin-top:10px; padding:8px 0; background-color:#3D69CE; color:#FFF; font-weight:bold; text-align:center }
.icon_bg{ clear:both; padding-left:10px; margin-left:15px; background:url(//img1.itemmania.com/images/icon/icon_arrow1.gif) no-repeat 0 3px; font-weight:bold }
#certify_phone{ margin-top:1px }
#certify_phone li{ border:2px solid #CCC; float:left; text-align:center }
#certify_phone .phone_info{ border-left:0; width:323px; height:96px; padding:11px 0 }
#certify_phone .phone_info div{ text-align:center; margin:8px 0 }
#certify_phone .phone_info div span{ font-size:15px; font-weight:bold }
#certify_phone .phone_info #phone_number input{ width:50px; height:auto }
#certify_phone .phone_info .phone_style input{ padding:3px 0; width:100px; height:21px; text-align:center; vertical-align:middle; border:2px solid #CCC; font-size:14px; font-weight:bold }
.g_big_box1{ background-color:#FFF; padding:10px 20px 20px; margin-top:10px }
.sub_box{ width:246px; margin-top:10px }
.sub_box li{ border-left:2px solid #D4DEE6; border-right:2px solid #D4DEE6; text-align:center }
.sub_box .sub_title{ background-color:#407FD4; padding:5px 0; border:2px solid #407FD4; border-bottom:none }
.sub_box .img_li{ text-align:left }
.sub_box .img_li img{ margin:0 10px }
.sub_box .gray_box{ background-color:#F0F0F0; height:44px; padding-top:5px; color:#2F2F2F; font-weight:bold }
.sub_box .cell_gray{ padding:15px; height:20px }
.sub_box .tell_gray{ text-align:left; padding-left:35px }
.sub_box .btn_li{ border-bottom:2px solid #D4DEE6; padding:8px 0 }
.sub_box2{ margin:10px auto 0 }
/* ê°„íŽ¸ê²°ì œ */
.simple_box{ margin-bottom:20px }
.g_btn{text-align:center;}
.g_btn .btn_gray3{display:inline-block;width:90px;height:30px;text-align:center;line-height:28px;}
/* ì¹´ì¹´ì˜¤íŽ˜ì´ ê°„íŽ¸ì¸ì¦ */
.kakaopay .top_info{font-size:18px;font-weight:bold;text-align:center;}
.kakaopay .box2{display:block;border-width:2px;padding:15px;text-align:center;}
