#g_POPUP {
    padding: 20px 5px 0;
}

#exchanger_box {
    padding: 20px 0 20px 37px;
    border: 1px solid #CCD3DC;
    border-top: 3px solid #BEBEBE;
    background-color: #F8F8F8
}

#txtMoney {
    width: 80px;
    text-align: right
}

#txtExchange {
    width: 110px
}

#money_list_box {
    padding: 8px 13px;
    background-color: #F6F6F6
}

#money_list_box li {
    width: 380px;
    padding: 5px;
    border: 1px solid #F0F0F0;
    background-color: #FFF;
    text-align: center;
}

#money_list_box table {
    width: 99%;
    text-align: center
}

#money_list_box th {
    height: 28px;
    background-color: #EFEFEF;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    color: #5B5B5B;
}

#money_list_box td {
    height: 23px;
    border-bottom: 1px solid #EFEFEF;
    background-color: #FFF;
    text-align: center
}

.l_last_row {
    border-bottom: 2px solid #FFF
}

#tbl_gs_list li {
    width: 253px
}

#tbl_gs_list table {
    float: left;
    width: 100%;
    margin-top: 10px;
    border-top: 3px solid #BEBEBE;
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #ACACAC;
}

#tbl_gs_list .border_non {
    border-right: 0
}

#tbl_gs_list th {
    background-color: #F8F8F8
}

#byDay_list span {
    font-size: 15px;
    font-weight: bolder
}

.tb_list th, .tb_list td {
    border-left: 0;
}



.search_wrapper {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}



