
#top_title{text-align:center}
#top_txt{margin-top:10px}
#top_txt #txt_fixed_title{width:200px}

.btn-submit{
    background: url(/angel/img/button/btn-charge.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 98px;
    height: 37px;
    color: #fff;
    text-align: center;
}
