.search {
    padding: 20px 75px 20px 75px;
    background: linear-gradient(to right, #2b9efd, #a8a0ff);
}

.search:after {
    content: '';
    display: block;
    clear: both;
}

.search .search_img_wrap {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
}

.search .search_bar {
    padding: 15px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
}



.search .search_bar select {
    width: 106px;
    background-color: #FFF;
    border: none
}

.search .search_bar .angel__text {
    width: 300px;
    border: 0;
    background-color: #FFF;
}

.item_filtered {
    text-align: center;
    clear: both;
    color: #fff;
}

.item_filtered li {
    display: inline-block;
    margin-right: 10px;
}

.gray_table {
    width: 760px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3
}

.gray_table th {
    padding: 5px 0;
    background-color: #F8F8F8;
    border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    text-align: center
}

.gray_table .first {
    border-left: 0
}

.gray_table td {
    padding: 10px 0 5px 12px;
    border-left: 1px solid #E3E3E3;
    vertical-align: top;
    line-height: 160%
}

.gray_table .first {
    border-left: 0
}

.float__right {
    padding: 11px 20px 0;
}

.s_text {
    border: 0;
    background-color: #FFF;
    height: 30px;
    line-height: 30px;
    padding-right: 23px;
}

.search_input_wrap{
    position: relative;
    height: 30px;
}

.s_text:focus {
    outline: none;
}

.subject .float-left {
    padding-right: 10px;
}
