.g_content {
    line-height: 1.5;
}

.img_border {
    border: 1px solid #CCD3DC;
}

.guide_subtitle {
    clear: both;
    padding-bottom: 10px;
    margin-top: 25px;
    color: #1D1D1D;
}

.guide_subtxt {
    margin: 7px 0;
    color: #767676;
    font-size: 12px;
}

.guide_subtxt>.f_bold {
    margin-top: 5px;
}

.guide_subtxt dd {
    text-indent: -7px;
    padding-left: 10px;
    color: #767676;
    font-size: 12px;
}

.guide_subtxt dd:before {
    content: '- '
}

.guide_subtitle>.guide_subtxt {
    margin: 10px 0 0 5px
}

.tab_sub li {
    display: inline
}

.normal_box,
.normal_box2 {
    float: left;
    width: 234px;
    margin-bottom: 20px;
    border: 1px solid #CCD3DC;
    text-align: center
}

.normal_box2 {
    width: 340px
}

.normal_box .normal_title,
.normal_box2 .normal_title {
    padding: 5px 0;
    background-color: #F8FBFE;
    text-align: center;
    border-bottom: 1px solid #CCD3DC
}

.normal_box img,
.normal_box2 img {
    margin-top: 5px
}

.next_arrow {
    float: left;
    margin: 130px 19px 0;
}

.next_arrow2 {
    float: left;
    margin: 185px 28px 0
}

.divi_line {
    margin: 20px 0 10px;
    border-bottom: 1px solid #E1E1E1
}

.notice {
    margin-top: 20px;
    padding: 13px 40px 16px;
    border: 1px solid #E1E1E1;
    background-color: #FAFAFA;
    line-height: 18px;
}

.notice dt {
    margin-bottom: 6px;
    font-weight: bold;
    color: #FF2400;
}

.notice dd {
    text-indent: -7px;
    padding-left: 10px;
    color: #767676;
    font-size: 12px;
}

.notice dd:before {
    content: '- '
}

.notice .f_red1 {
    color: #FF2400;
}



.top_desc {
    overflow: hidden;
    width: 814px;
    margin: 0 auto;
    border: 1px solid #CCD3DC;
}

.top_desc img.g_left {
    border-right: 1px solid #CCD3DC
}

.top_desc .g_notice_box1 {
    width: 613px;
    height: 117px;
    margin: 0;
    padding: 0;
    border: none;
}

.top_desc .g_notice_box1 .f_org1 {
    margin: 20px 0 5px 20px
}

.top_desc .g_notice_box1 .g_list {
    margin-left: 22px;
    font-size: 11px
}

.top_desc .notice_box {
    width: 478px;
    height: auto;
    padding: 0 10px 15px 0;
    border-right: 1px solid #CCD3DC
}

.top_desc .text_blue {
    width: 250px;
    padding: 35px 10px 0 10px;
    color: #2162C6;
    font-size: 11px;
    line-height: 18px
}

.g_big_box1 {
    overflow: hidden;
    width: 815px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    border-right: 1px solid #CCD3DC;
}

.g_big_box1 li {
    position: relative;
    float: left;
    width: 162px;
    height: 31px;
    border-top: 1px solid #CCD3DC;
    border-left: 1px solid #CCD3DC;
    background-color: #FFF;
    font-size: 11px;
    line-height: 33px;
    text-indent: 8px;
    letter-spacing: -1px;
    cursor: pointer;
    color: #6E6E6E;
}

.g_big_box1 li:hover,
.g_big_box1 .selected {
    font-weight: bold;
    color: #407FD4
}



.g_big_box1 .none {
    cursor: auto
}




.wrap_btn_text {
    line-height: 30px;
}

.btn_go {
    vertical-align: text-top;
}


