.g_blue_table{width:435px;margin-bottom:7px}
.g_blue_table td{height:30px;padding-top:0;padding-bottom:0}
.g_blue_table #user_birth{width:100px}
.g_blue_table .g_selectbox{float:left;margin-right:5px}
.g_blue_table .g_text{width:45px;text-align:centsper}
