.excel_btn{ float:right; padding:2px 10px 3px; margin-bottom:5px; }
.search_box{ overflow:hidden; margin-bottom:20px; padding:10px 20px; border:1px solid #E2E2E2; background-color:#F6F6F6; line-height:23px; }
.search_box .pdl{ padding-left:10px; }
.search_box a input{ vertical-align:middle; }
.list_trade_title{ display:block; overflow:hidden; width:100%; white-space:nowrap; text-overflow:ellipsis; }
.btn_blue3{ width:50px; height:23px; padding-bottom:2px; margin-left:5px; vertical-align:top; }
.type_area{ margin-right:5px; }
