.credit_info {
    padding: 25px 32px;
    border: 3px solid #B4C4DE;
    background-color: #F5F8FE;
}

.credit_name {
    display: inline-block;
    margin-left: 13px;
    vertical-align: middle;
}

.credit_name > div {
    margin-bottom: 7px;
}

.credit_info .gubun {
    display: inline-block;
    margin: 1px 5px 0;
    color: #767676;
    font-size: 11px;
    vertical-align: top;
}

.credit_gift {
    float: right;
}

.plus_icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 2px;
    background: url(//img4.itemmania.com/new_images/myroom/icon_plus.gif) no-repeat;
    vertical-align: middle;
}

.credit_up {
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #E6E6E6;
    background-color: #F9F9F9;
}

.credit_up .credit_up_title {
    float: left;
    padding: 0 10px 0 25px
}

.credit_up .credit_up_title2 {
    float: left;
    padding: 12px 10px 0 25px;
}

.credit_up .credit_up_text {
    float: left;
    padding-top: 1px;
}

.credit_up .credit {
    font-size: 15px;
    font-weight: bold;
}

.my_benefit {
    position: relative;
    height: 363px;
    background: url(//img4.itemmania.com/new_images/myroom/img_credit.jpg?190920) no-repeat;
}

.benefit_cnt {
    float: left;
    margin: 165px 0 0 3px;
    font-size: 0;
}

.benefit_cnt li {
    display: inline-block;
    width: 136px;
    margin-left: 22px;
    vertical-align: bottom;
    text-align: center;
    font-size: 13px;
    color: #6B6D7A;
    line-height: 20px;
}

.benefit_cnt li > span {
    color: #ED1C24;
    font-weight: bold;
}

.benefit_cnt li > em {
    color: #2A8ACC;
    font-weight: bold;
}

.benefit_cnt li > div {
    height: 41px;
    margin-top: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    color: #FFF;
    line-height: 40px;
}

.my_benefit .over {
    box-sizing: border-box;
    position: absolute;
    top: 104px;
    left: 24px;
    width: 137px;
    height: 187px;
    border: 4px solid #2CA20E;
    border-radius: 8px;
}

.my_benefit .over:before {
    content: "ë‚˜ì˜ í˜œíƒ";
    position: absolute;
    top: -16px;
    left: 19px;
    width: 93px;
    height: 24px;
    border-radius: 15px;
    background-color: #2CA20E;
    line-height: 22px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.my_benefit .credit_btn {
    position: absolute;
    display: block;
    top: 300px;
    left: 25px;
    width: 137px;
    height: 36px;
    background: url(//img4.itemmania.com/new_images/myroom/btn_begin.jpg) no-repeat;
    text-indent: -9999px;
}

.ssada_benefit {
    position: relative;
    height: 502px;
    background: url(//img4.itemmania.com/new_images/myroom/img_credit_ssada.jpg?211006) no-repeat;
}

.ssada_benefit .btn_ssada {
    display: block;
    position: absolute;
    top: 86px;
    left: calc(50% - 81px);
}

.ssada_benefit .btn_ssada_gift {
    display: block;
    position: absolute;
    top: 261px;
    left: 148px;
}

.ssada_benefit .btn_ssada_down {
    display: block;
    position: absolute;
    top: 261px;
    left: 455px;
}

.ssada_benefit .ssada_info {
    position: absolute;
    top: 352px;
    left: 90px;
    width: 460px;
    color: #636363;
}

.ssada_benefit .ssada_info p {
    margin: 3px 0;
    font-size: 14px;
    font-weight: bold;
    color: #159EFD;
}

.ssada_benefit .ssada_info .ssada_infobox {
    width: 100%;
}

.ssada_benefit .btn_blue4 {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 13px;
    font-size: 12px;
    font-weight: normal;
}

.basic .on > div {
    background-color: #2CA20E;
}

.silver .over {
    top: 83px;
    left: 182px;
    height: 207px;
    border-color: #9F9F9F;
}

.silver .over:before, .silver .on > div {
    background-color: #9F9F9F;
}

.silver .credit_btn {
    left: 182px;
    background-image: url(//img4.itemmania.com/new_images/myroom/btn_silver.jpg);
}

.gold .over {
    top: 69px;
    left: 341px;
    height: 222px;
    border-color: #FBA929;
}

.gold .over:before, .gold .on > div {
    background-color: #FBA929;
}

.gold .credit_btn {
    left: 341px;
    background-image: url(//img4.itemmania.com/new_images/myroom/btn_gold.jpg);
}

.platinum .over {
    top: 54px;
    left: 499px;
    height: 237px;
    border-color: #EC3868;
}

.platinum .over:before, .platinum .on > div {
    background-color: #EC3868;
}

.platinum .credit_btn {
    left: 499px;
    background-image: url(//img4.itemmania.com/new_images/myroom/btn_platinum.jpg);
}

.vip .over {
    top: 39px;
    left: 657px;
    height: 252px;
    border-color: #785BDB;
}

.vip .over:before, .vip .on > div {
    background-color: #785BDB;
}

.vip .credit_btn {
    left: 657px;
    background-image: url(//img4.itemmania.com/new_images/myroom/btn_vip.jpg);
}

.add_info {
    box-sizing: border-box;
    height: 200px;
    padding: 30px 0 0 46px;
    background: url(//img4.itemmania.com/new_images/myroom/img_credit_bg.jpg) no-repeat;
    font-size: 12px;
    color: #636363;
}

.add_info > ul {
    overflow: hidden;
    margin-bottom: 26px;
}

.add_info > ul > li {
    float: left;
    margin-right: 14px;
}

.add_info p {
    margin: 3px 0;
    font-size: 14px;
    font-weight: bold;
    color: #159EFD;
}

.add_info .btn_blue4 {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 13px;
    font-size: 12px;
    font-weight: normal;
}

.add_info > ul > li > span {
    display: inline-block;
    width: 50px;
    height: 45px;
    margin-top: 3px;
}

.add_info > ul > li .icon_member {
    background-position: -774px -314px;
}

.add_info > ul > li .icon_sp {
    background-position: -829px -314px;
}

.user_class dt {
    margin-top: 10px;
    font-weight: bold;
}

.cert_box {
    padding: 15px 20px;
    text-align: center;
    white-space: nowrap;
}

.cert_box > span {
    position: relative;
    box-sizing: border-box;
    width: 113px;
    margin: 0 5px;
    cursor: pointer;
}

.cert_box > span:first-child, .cert_box > .on {
    cursor: default;
}

.cert_box .certify {
    z-index: 1;
    position: absolute;
    left: -50%;
    display: none;
    box-sizing: border-box;
    width: max-content;
    min-width: 207px;
    margin-top: 5px;
    padding: 7px;
    border: 2px solid #606E89;
    background-color: white;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    color: #1D1D1D;
}

.admin_point {
    overflow: hidden;
    border: 1px solid #E1E1E1;
}

.admin_point li {
    box-sizing: border-box;
    float: left;
    width: 80%;
    padding: 10px 15px;
}

.admin_point .gray_bg {
    width: 20%;
    padding: 12px 8px 12px 10px;
    background-color: #F0F0F0;
    text-align: center;
}

.g_content .tb_list .th2 {
    background-color: #FAFAFA;
}

.g_content .tb_list td {
    position: static;
}
